1)take input from user and print its inputvalue using input function

2)create a string and print the last element 

3)create a string and print second last element

4)create a string as eg:"hellohellohellohello" and print it 

5)create  two string like "hello" and "world" and print "helloworld"

6)create two variable and swap its value eg a=10,b=20 afer swapping there output is a=20,b=10

7)create a tuple like(1,2,3,4,3,2) and count number of  occurrences  of 3

8)create a tuple like(1,2,3,4,3,2) and print the index number of 3

9)create a tuple like(1,2,3,4,3,2) and print (2,3,4) only

10)create tuple like(1,2,3,4,3,2) and remove 3 in this tuple

In [2]:
#1 take input from user and print its inputvalue using input function
user = input()
print("The entered value by user is {}".format(user),end="")

The entered value by user is 9

In [3]:
# 2)create a string and print the last element
str="This is beginning of Python"
print("The last element of string is:",str[-1])

The last element of string is: n

In [4]:
# 3)create a string and print second last element
str="This is beginning of Python"
print("The second last element of string is:",str[-2:-1])

The second last element of string is: o

In [5]:
# 4)create a string as eg:"hellohellohellohello" and print it
str="hello"
print(str*4)

hellohellohellohello

In [6]:
# 5)create two string like "hello" and "world" and print "helloworld"
str1="hello"
str2="world"
print(str1+str2)

helloworld

In [7]:
# 6)create two variable and swap its value eg a=10,b=20 afer swapping there output is a=20,b=10
a,b=10,20
a,b=b,a
print("a =",a,"\nb =",b)

a = 20
b = 10

In [8]:
# 7)create a tuple like(1,2,3,4,3,2) and count number of occurrences of 3
tuple=(1,2,3,4,3,2)
print("The count number of occurrence of 3 is {} times ".format(tuple.count(3)))

The count number of occurrence of 3 is 2 times

In [9]:
# 8)create a tuple like(1,2,3,4,3,2) and print the index number of 3
tuple=(1,2,3,4,3,2)
print("The index number 3 is {} ".format(tuple.index(3)))

The index number 3 is 2

In [10]:
# 9)create a tuple like(1,2,3,4,3,2) and print (2,3,4) only
tuple=(1,2,3,4,3,2)
print(tuple[1:4])

(2, 3, 4)

In [2]:
# 10)create tuple like(1,2,3,4,3,2) and remove 3 in this tuple
t = (1, 2, 3, 4, 3, 2)
t1 = tuple(x for x in t if x != 3)
print(t1)

(1, 2, 4, 2)

11) create a list like[1,2,3,4] and change the elements like[1,2,4,3] without using list methods

12) create a list like[1,2,3,4] and delete all the elements in list and print empty list without using any method 

13) create single value tuple 

14) create empty set

15) create a dictionery like {"a":10,"b":20} and print the value of "a" without using methods

16) create a dictionery like {"a":10,"b":20} and change the value of "b" is 30 and print it without using methods

17) create a dictionery like {"a":10,"b":20} and insert the key value pair which the key is "c" and the value is 30 and print it

18) create two sets like {1,2,3,4} and {3,4,5,6} and find the union without using union method

19) create two sets like {1,2,3,4} and {3,4,5,6} and find the intersection without using intersection method

20) create two sets like {1,2,3,4} and {3,4,5,6} and find there difference without using difference method

In [16]:
#11 create a list like[1,2,3,4] and change the elements like[1,2,4,3] without using list methods
l1=[1,2,3,4]
l1[2],l1[3]=l1[3],l1[2]
print(l1)

[1, 2, 4, 3]

In [17]:
#12 create a list like[1,2,3,4] and delete all the elements in list and print empty list without using any method
l1=[1,2,3,4]
l1.clear()
print(l1)

[]

In [4]:
#13 create single value tuple
t=(1,)
print(type(t),"\n",t)

<class 'tuple'>
 (1,)

In [6]:
#create empty set
s=set()
print(type(s))

<class 'set'>

In [13]:
#create a dictionery like {"a":10,"b":20} and print the value of "a" without using methods
d1={"a":10,"b":20}
print(d1["a"])

10

In [14]:
#create a dictionery like {"a":10,"b":20} and change the value of "b" is 30 and print it without using methods
d2={"a":10,"b":20}
d2["b"]=30
print(d2)

{'a': 10, 'b': 30}

In [15]:
#create a dictionery like {"a":10,"b":20} and insert the key value pair which the key is "c" and the value is 30 and print it
d3={"a":10,"b":20}
d3["c"]=30
print(d3)

{'a': 10, 'b': 20, 'c': 30}

In [21]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find the union without using union method
s1={1,2,3,4}
print(s1)

{1, 2, 3, 4}