1)take input from user and print its inputvalue using input function

2)create a string and print the last element 

3)create a string and print second last element

4)create a string as eg:"hellohellohellohello" and print it 

5)create  two string like "hello" and "world" and print "helloworld"

6)create two variable and swap its value eg a=10,b=20 afer swapping there output is a=20,b=10

7)create a tuple like(1,2,3,4,3,2) and count number of  occurrences  of 3

8)create a tuple like(1,2,3,4,3,2) and print the index number of 3

9)create a tuple like(1,2,3,4,3,2) and print (2,3,4) only

10)create tuple like(1,2,3,4,3,2) and remove 3 in this tuple

In [2]:
#1 take input from user and print its inputvalue using input function
user = input()
print("The entered value by user is {}".format(user),end="")

The entered value by user is 9

In [3]:
# 2)create a string and print the last element
str="This is beginning of Python"
print("The last element of string is:",str[-1])

The last element of string is: n

In [4]:
# 3)create a string and print second last element
str="This is beginning of Python"
print("The second last element of string is:",str[-2:-1])

The second last element of string is: o

In [5]:
# 4)create a string as eg:"hellohellohellohello" and print it
str="hello"
print(str*4)

hellohellohellohello

In [6]:
# 5)create two string like "hello" and "world" and print "helloworld"
str1="hello"
str2="world"
print(str1+str2)

helloworld

In [7]:
# 6)create two variable and swap its value eg a=10,b=20 afer swapping there output is a=20,b=10
a,b=10,20
a,b=b,a
print("a =",a,"\nb =",b)

a = 20
b = 10

In [8]:
# 7)create a tuple like(1,2,3,4,3,2) and count number of occurrences of 3
tuple=(1,2,3,4,3,2)
print("The count number of occurrence of 3 is {} times ".format(tuple.count(3)))

The count number of occurrence of 3 is 2 times

In [9]:
# 8)create a tuple like(1,2,3,4,3,2) and print the index number of 3
tuple=(1,2,3,4,3,2)
print("The index number 3 is {} ".format(tuple.index(3)))

The index number 3 is 2

In [10]:
# 9)create a tuple like(1,2,3,4,3,2) and print (2,3,4) only
tuple=(1,2,3,4,3,2)
print(tuple[1:4])

(2, 3, 4)

In [2]:
# 10)create tuple like(1,2,3,4,3,2) and remove 3 in this tuple
t = (1, 2, 3, 4, 3, 2)
t1 = tuple(x for x in t if x != 3)
print(t1)

(1, 2, 4, 2)

11) create a list like[1,2,3,4] and change the elements like[1,2,4,3] without using list methods

12) create a list like[1,2,3,4] and delete all the elements in list and print empty list without using any method 

13) create single value tuple 

14) create empty set

15) create a dictionery like {"a":10,"b":20} and print the value of "a" without using methods

16) create a dictionery like {"a":10,"b":20} and change the value of "b" is 30 and print it without using methods

17) create a dictionery like {"a":10,"b":20} and insert the key value pair which the key is "c" and the value is 30 and print it

18) create two sets like {1,2,3,4} and {3,4,5,6} and find the union without using union method

19) create two sets like {1,2,3,4} and {3,4,5,6} and find the intersection without using intersection method

20) create two sets like {1,2,3,4} and {3,4,5,6} and find there difference without using difference method

In [16]:
#11 create a list like[1,2,3,4] and change the elements like[1,2,4,3] without using list methods
l1=[1,2,3,4]
l1[2],l1[3]=l1[3],l1[2]
print(l1)

[1, 2, 4, 3]

In [17]:
#12 create a list like[1,2,3,4] and delete all the elements in list and print empty list without using any method
l1=[1,2,3,4]
l1.clear()
print(l1)

[]

In [4]:
#13 create single value tuple
t=(1,)
print(type(t),"\n",t)

<class 'tuple'>
 (1,)

In [5]:
#create empty set
s=set()
print(type(s))

<class 'set'>

In [13]:
#create a dictionery like {"a":10,"b":20} and print the value of "a" without using methods
d1={"a":10,"b":20}
print(d1["a"])

10

In [14]:
#create a dictionery like {"a":10,"b":20} and change the value of "b" is 30 and print it without using methods
d2={"a":10,"b":20}
d2["b"]=30
print(d2)

{'a': 10, 'b': 30}

In [15]:
#create a dictionery like {"a":10,"b":20} and insert the key value pair which the key is "c" and the value is 30 and print it
d3={"a":10,"b":20}
d3["c"]=30
print(d3)

{'a': 10, 'b': 20, 'c': 30}

In [3]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find the union without using union method
s1={1,2,3,4}
s1.update({3,4,5,6})
print(s1)

{1, 2, 3, 4, 5, 6}

In [6]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find the intersection without using intersection method
s1={1,2,3,4}
s2={3,4,5,6}
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [13]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find there difference without using difference method
s1={1,2,3,4}
s2={3,4,5,6}
print(s1-s2)

{1, 2}

21)create a set like {1,2,3,4} and remove 3 

22)create a set like {1,2,3,4} and remove 3 using discard method and undrstand what's the difference between remove and pop

23)create a string like "hello world" and count "o"

24)create a string like "hello world" and find "z" or index "z" and understand difference between index and count

25)create a list like ["p","y","t","h","o","n"] and print "python"

26)create a string "python" and print ["p","y","t","h","o","n"]

27)create a string like"     python" and print "python"

28)create a list [1,2,3,4] and print it like [1,2,3,4,5]

29)create a list [1,2,3,4] and print [1,2,3,4,1,2,3,4] using extend function

30)create a list [1,2,3,4] and print [1,2,3,4,"p","y","t","h","o","n"] using extend function

31)create a list [1,2,3,4] and remove 2 using pop function

32)create a list [1,2,3,4] and print [1,5,3,4] using insert function

33)create a list [1,2,3,4] and print [1,5,3,4] using negative indexing in insert function

34)create a list [1,2,3,4] and print [4,3,2,1]

35)create a list [1,4,3,2] and print [1,2,3,4] using function

36)create a dict {"a":10,"b":12,"c":14} and clear it{}

37)create a empty set{}

38)create empty dict{}

39)create a dict{"a":10,"b":20,"c":30} and print {"b":20,"c":30}

40)create a set {1,2,3,4} and remove 2

In [14]:
#21)create a set like {1,2,3,4} and remove 3
s1={1,2,3,4}
s1.remove(3)
print(s1)

{1, 2, 4}

In [15]:
#create a set like {1,2,3,4} and remove 3 using discard method and undrstand what's the difference between remove and pop
s1={1,2,3,4}
s1.discard(3)
print(s1)

{1, 2, 4}

In [19]:
#create a string like "hello world" and count "o"
st1="hello world"
print(st1.count("o"))

2

In [21]:
#create a string like "hello world" and find "z" or index "z" and understand difference between index and count
st1="hello world"
print(st1.index("o")) #----> throws error

4

In [1]:
#create a list like ["p","y","t","h","o","n"] and print "python"
my_list = ["p", "y", "t", "h", "o", "n"]
word = "".join(my_list)
print(word)

python

In [15]:
#create a string "python" and print ["p","y","t","h","o","n"]
str1="python"
my_list=list(str1)
print(my_list)

['p', 'y', 't', 'h', 'o', 'n']

In [16]:
#create a string like"     python" and print "python"
str1="     python"
print(str1.lstrip())

python

In [28]:
#create a list [1,2,3,4] and print [1,2,3,4,"p","y","t","h","o","n"] using extend function
l1=[1,2,3,4]
str1="python"
# my_list=list(str1)
l1.extend(list(str1))
print(l1)

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n']

In [30]:
#create a list [1,4,3,2] and print [1,2,3,4] using function
l1=[1,4,3,2]
l1.sort()
print(l1)

[1, 2, 3, 4]

In [31]:
#create a dict{"a":10,"b":20,"c":30} and print {"b":20,"c":30}
d1={"a":10,"b":20,"c":30} 
d1.pop("a")
print(d1)

{'b': 20, 'c': 30}

In [32]:
#create a set {1,2,3,4} and remove 2
s1={1,2,3,4}
s1.remove(2)
print(s1)

{1, 3, 4}


1)create a string "hello" and print >> ll:2 times without using count method

2)create a string "hello" and sort it 

3)Take input string from user and find vowels

4)create a list [(1,2),{"A":10},"abc",[1,2,3,4]] and find the data type of each element 

5)print A to Z in sequence like A B C D E........XYZ.

6)print ten time "hii" 

7)print right angle triangle using while loop 

8)print right angle triangle using for loop 

9)take input from user and check its even or odd

10)take input from user and check the number is divisible by 5 or not

11)write a programme to check whether a person is eligible for voting or not(accept age from user)

12)print 1 to 10 using for loop

13)write a programme to check whether a number is divisible by 7 or not

14)wap to display "hello" if number enterned by user is even , otherwise print "bye"

15)take input from user and check its data type 

16)create set like {1,2,3,4,5} and update it {1,2,3,4,5,6,7,8,9}

17)create a set like {1,2,3,4,5} and add the element like {1,2,3,4,5,6,7,8,9}

18)take string from user like "python" and print ["p","y","t","h","o","n"]

19)take input from user in int data type without using int() function

20)create a string like " 7 apple 8 mango 9 banana" and print the int values only which dynamic state

21)take input from user like 1234 and print the every second element 0 eg,1020

22)take gmail from user like "abc@gmail.com" and print its name only "abc"

23) Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
    Unit                          Price  
  First 100 units                 no charge
  Next 100 units                 Rs 5 per unit
  After 200 units                Rs 10 per unit
  (For example if input unit is 350 than total bill amount is Rs2000)

24) Write a program to check whether the last digit of a number
   (entered by user ) is divisible by 3 or not.

25) Write a program to determine whether a number (accepted from the user) 
   is divisible by 2 and 3 both.

26)Accept the age of 4 people and display the youngest one?

27) Accept the age of 4 people and display the oldest one?

28) Write a program to check whether an years is leap year or not

29) Write a program to check whether an years is leap year or not without using (or) keyword

30) Write a program to check whether an years is leap year or not , without using (and),(or) keywords

31)Write a program to check whether a number entered is three digit number or not. 

32) Write a program to check whether a person is senior citizen or not.

33)wap which will add(sum) all the elements of list 

34)wap to print maximum number without using max function

35)wap to print minmum number without using min function 

36)wpa to square all the all elements of list note[1,5,3,9],>>[1,25,9,81]

37)wpa to peint all the elements in list which are divisible by 3 

38)wpa to print all the elements which are greater then 100"""

39)"""wap to find the total length of all string element in a list eg ["py","thon"],>>[2,4]

40)wap to print all elements in dict

1)take a list and sort it without using sort function

2)tak a list and sort it in decending order without using sort function

3)take a list and find the highest element without using max function

4)take a list and find the second highest element

5)take a list and find the lowest element with using min function function

6)take a dictionary and print the highest key value pair 

7)take a dictionary and print the lowest key value pair

8)create a list like [1,2,3,4] and print the elements without using loop

9)create a string "ABCD" and conert into "abcd" without using lower and upper method

In [51]:
#create a string "hello" and print >> ll:2 times without using count method
my_string = "hello"
substring = "l"
count = 0

for i in range(len(my_string)-1):
    if my_string[i:i+1] == substring:
        count += 1

print("l is", count, "times")

l is 2 times

In [53]:
#create a string "hello" and sort it 
str1="hello"
s1="".join(sorted(str1))
print(s1)

ehllo

In [58]:
#Take input string from user and find vowels
str1 = input()
count = 0

for i in range(len(str1)):
    if str1[i] in {"a", "e", "i", "o", "u"}:
        count += 1

if count == 0:
    print("no vowels")
else:
    print(count)

5

In [59]:
#create a list [(1,2),{"A":10},"abc",[1,2,3,4]] and find the data type of each element 
l1=[(1,2),{"A":10},"abc",[1,2,3,4]]
for i in range(len(l1)):
    print(type(l1[i]))

<class 'tuple'>
<class 'dict'>
<class 'str'>
<class 'list'>

In [64]:
#print A to Z in sequence like A B C D E........XYZ.
for letter in range(ord('A'), ord('Z')+1):
    print(chr(letter), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [67]:
#print ten time "hii" 
print("hii"*10)

hiihiihiihiihiihiihiihiihiihii

In [91]:
#print right angle triangle using while loop
n = int(input())
row = 0
while row <= n:
    col = 0
    while col < row:
        print("*", end=" ")
        col += 1
    print()  # print a newline after each row
    row+=1

*
* *
* * *
* * * *
* * * * *

In [87]:
#print right angle triangle using for loop 
n=int(input())
for row in range(0,n):
    for col in range(0,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [93]:
#take input from user and check its even or odd
num=int(input())
if num%2==0:
    print("even")
else:
    print("odd")

even

In [98]:
#take input from user and check the number is divisible by 5 or not
num=int(input())
if num%5==0:
    print("divisible by 5")
else:
    print("not divisible")

divisible by 5

In [103]:
#15)take input from user and check its data type 
# Prompt the user to enter a value
user_input = input("Enter a value: ")

# Check the type of the entered value
if user_input.isdigit():
    print("The entered value is an integer")
elif user_input.replace(".", "", 1).isdigit():
    print("The entered value is a float")
else:
    print("The entered value is a string")

The entered value is a string

In [108]:
#17)create a set like {1,2,3,4,5} and add the element like {1,2,3,4,5,6,7,8,9}
s1={1,2,3,4,5}
s1.update({1,2,3,4,5,6,7,8,9})
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [109]:
#take string from user like "python" and print ["p","y","t","h","o","n"]
str1="python"
my_list=list(str1)
print(my_list)

['p', 'y', 't', 'h', 'o', 'n']

In [113]:
#take input from user in int data type without using int() function
# take input from user as a string
user_input = input("Enter an integer: ")

# initialize a variable to store the converted integer
converted_int = 0

# iterate over each character in the string
for digit in user_input:
    # convert the character to an integer by subtracting the ASCII value of '0'
    converted_int = (converted_int * 10) + (ord(digit) - ord('0'))

# print the converted integer
print(type(converted_int))

<class 'int'>

In [114]:
#create a string like " 7 apple 8 mango 9 banana" and print the int values only which dynamic state
st1=" 7 apple 8 mango 9 banana"
words=st1.split()
int_values=[]
for word in words:
    if word.isdigit():
        int_values.append(int(word))
print(int_values)

[7, 8, 9]

In [190]:
#take input from user like 1234 and print the every second element 0 eg,1020
string = input()  # take input from user
result = ""
for i in range(len(string)):
    result += string[i]  # add the current character to the result string
    if i % 1 == 0:  # if the index is odd (i.e. every second element)
        result += "0"  # insert a 0 after the current character
print(result)

10203040

In [127]:
# take input from user
user_input = input("Enter a number: ")

# initialize an empty string to store the modified output
modified_output = ""

# iterate over each character in the input string with a step of 2
for i in range(0, len(user_input), 2):
    # append the current character and a "0" to the modified output string
    modified_output += user_input[i] + "0"

# print the modified output string
print(modified_output)

103050

In [133]:
# take input from user
email = "abc@gmail.com"

# find the index of the "@" symbol in the email address
at_index = email.find("@")

# slice the email address to extract the name
name = email[:at_index]

# print the name
print("Name:", name)

Name: abc

In [141]:
"""
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
    Unit                          Price  
  First 100 units                 no charge
  Next 100 units                 Rs 5 per unit
  After 200 units                Rs 10 per unit
  (For example if input unit is 350 than total bill amount is Rs2000)
"""
# take input from user for number of units consumed
units = int(input("Enter number of units consumed: "))

# calculate the bill amount
if units <= 100:
    bill_amount = 0
elif units <= 200:
    bill_amount = (units - 100) * 5
else:
    bill_amount = 100 * 0 + 100 * 5 + (units - 200) * 10

# print the bill amount
print("Your electricity bill amount is Rs", bill_amount)

Your electricity bill amount is Rs 2000

In [143]:
"""
24) Write a program to check whether the last digit of a number
   (entered by user ) is divisible by 3 or not.
"""
user_input=int(input())

#extracting last_digit
last_digit=user_input%10

if last_digit%3==0:
    print("divisible by 3")
else:
    print("not divisible")

divisible by 3

In [144]:
"""
25) Write a program to determine whether a number (accepted from the user) 
   is divisible by 2 and 3 both.
"""
user_input=int(input())

if user_input%2==0 and user_input%3==0:
    print("divisible by both")
else:
    print("not divisible")

divisible by both

In [146]:
#26)Accept the age of 4 people and display the youngest one?
ages=[]
for i in range(4):
    age=int(input("Enter the age {}:".format(i+1)))
    ages.append(age)
youngest=min(ages)
print("the youngest is {}".format(youngest))

the youngest is 1

In [147]:
#27) Accept the age of 4 people and display the oldest one?
ages=[]
for i in range(4):
    age=int(input("Enter the age {}:".format(i+1)))
    ages.append(age)
oldest=max(ages)
print("the oldest is {}".format(oldest))

the oldest is 20

In [150]:
#28) Write a program to check whether an years is leap year or not
year=int(input())
if year%4==0 or year%100!=0 and year%400==0:
    print("leap year")
else:
    print("not")

leap year

In [151]:
#29) Write a program to check whether an years is leap year or not without using (or) keyword
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year

In [152]:
#30) Write a program to check whether an years is leap year or not , without using (and),(or) keywords
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year

In [153]:
#31)Write a program to check whether a number entered is three digit number or not. 
num = input("Enter a number: ")
if num.isdigit() and len(num) == 3:
    print("The number is a three digit number")
else:
    print("The number is not a three digit number")

The number is a three digit number

In [154]:
#32) Write a program to check whether a person is senior citizen or not.
age = int(input("Enter your age: "))
if age >= 60:
    print("You are a senior citizen.")
else:
    print("You are not a senior citizen.")

You are not a senior citizen.

In [156]:
# 33)wap which will add(sum) all the elements of list 
l1=[]
for i in range(10):
    num=int(input())
    l1.append(num)
l2=sum(l1)
print(l2)

10

In [157]:
# 34)wap to print maximum number without using max function
numbers = [5, 8, 2, 10, 3]
max_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num

print("The maximum number in the list is:", max_num)

The maximum number in the list is: 10

In [158]:
# 35)wap to print minmum number without using min function 
numbers = [5, 8, 2, 10, 3]
min_num = numbers[0]

for num in numbers:
    if num < min_num:
        min_num = num

print("The maximum number in the list is:", min_num)

The maximum number in the list is: 2

In [160]:
# 36)wpa to square all the all elements of list note[1,5,3,9],>>[1,25,9,81]
l1=[1,5,3,9]
l2=map(lambda x:x **2,l1)
print(list(l2))

[1, 25, 9, 81]

In [162]:
# 37)wpa to peint all the elements in list which are divisible by 3 
l1=[1,5,3,9]
l2=list(filter(lambda x:(x%3==0),l1))
print(list(l2))

[3, 9]

In [163]:
# 38)wpa to print all the elements which are greater then 100"""
l1=[10,500,103,159]
l2=list(filter(lambda x:(x>100),l1))
print(list(l2))

[500, 103, 159]

In [164]:
# 39)"""wap to find the total length of all string element in a list eg ["py","thon"],>>[2,4]

my_list = ["py", "thon"]
lengths = [len(elem) for elem in my_list]
print(lengths)

[2, 4]

In [167]:
# 40)wap to print all elements in dict
my_dict = {"name": "Dhanesh", "age": 24, "gender": "Male"}

# using loop to print all elements in the dictionary
for key, value in my_dict.items():
    print(key, ":", value)

name : Dhanesh
age : 24
gender : Male

In [168]:
# 1)take a list and sort it without using sort function
my_list = [5, 2, 8, 3, 1]

for first_no in range(len(my_list)):
    for second_no in range(first_no+1, len(my_list)):
        if my_list[first_no] > my_list[second_no]:
            my_list[first_no], my_list[second_no] = my_list[second_no], my_list[first_no]

print(my_list)

[1, 2, 3, 5, 8]

In [169]:
# 2)tak a list and sort it in decending order without using sort function
my_list = [5, 2, 8, 3, 1]

for first_no in range(len(my_list)):
    for second_no in range(first_no+1, len(my_list)):
        if my_list[first_no] < my_list[second_no]:
            my_list[first_no], my_list[second_no] = my_list[second_no], my_list[first_no]

print(my_list)

[8, 5, 3, 2, 1]

In [176]:
# 3)take a list and find the highest element without using max function
my_list=[1,5,9,10,20,50]
highest=my_list[0]
for num in my_list:
    if num>highest:
        highest=num
print(highest)

50

In [177]:
# 4)take a list and find the second highest element

lst = [5, 10, 15, 20, 25]

# Find the maximum value in the list
max_val = max(lst)

# Remove the maximum value from the list
lst.remove(max_val)

# Find the new maximum value in the list (which will be the second highest)
second_max = max(lst)

print("The second highest element in the list is:", second_max)

The second highest element in the list is: 20

In [178]:
# 5)take a list and find the lowest element with using min function function
my_list=[5,9,1,10,20,50]
lowest=my_list[0]
for num in my_list:
    if num<lowest:
        lowest=num
print(lowest)

1

In [179]:
# 6)take a dictionary and print the highest key value pair 

my_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 30}

max_key = max(my_dict, key=lambda x: my_dict[x])
print("Highest key-value pair: ", max_key, my_dict[max_key])

Highest key-value pair:  d 30

In [180]:
# 7)take a dictionary and print the lowest key value pair
my_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 30}

min_key = min(my_dict, key=lambda x: my_dict[x])
print("Highest key-value pair: ", min_key, my_dict[min_key])

Highest key-value pair:  c 5

In [183]:
# 8)create a list like [1,2,3,4] and print the elements without using loop
l1=[1,2,3,4]
print(*l1,sep="\n")

1
2
3
4

In [184]:
# 9)create a string "ABCD" and conert into "abcd" without using lower and upper method
# create the string
string = "ABCD"

# convert each character to lowercase using ASCII codes
lowercase = ""
for char in string:
    # check if character is uppercase
    if ord(char) >= 65 and ord(char) <= 90:
        # add 32 to convert to lowercase
        lowercase += chr(ord(char) + 32)
    else:
        # leave character as is
        lowercase += char

# print the lowercase string
print(lowercase)

abcd