#### break statement

In [1]:
num=0

for num in range(10):
    if num == 5:
        break
    print(num)
print("Out of loop")

0
1
2
3
4
Out of loop

In [3]:
#continue statement
num=0

for num in range(10):
    if num == 5:
        continue #----------->skip the given condition step and continue afterwards
    print(num)
print("Out of loop")

0
1
2
3
4
6
7
8
9
Out of loop

In [5]:
#pass statement
num=0

for num in range(10):
    if num == 5:
        pass
    print(num)
print("Out of loop")

0
1
2
3
4
5
6
7
8
9
Out of loop

## Function

In [7]:
#Addition of two number
def add_num(a,b):
    sum=a+b
    return sum
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
print("addition is",add_num(num1,num2))

addition is 14

In [11]:
def palindrome(n):
    rev=0
    rem=0
    while(n!=0):
        rem=n%10
        rev=rev*10+rem
        n=n//10
    return rev
num1=int(input("Enter a number"))
reverse=palindrome(num1)
if num1==reverse:
    print(num1,"is palindrome")
else:
    print(num1,"is not palindrom")

151 is palindrome

In [12]:
def isevenodd(n):
    if n%2==0:
        return print("even")
    else:
        return print("odd")
n=int(input())
isevenodd(n)

odd

### List Comprehension

In [14]:
list1=[2,3,4,5]
list2=[]
list2=list1
print(list2)

[2, 3, 4, 5]

#### newlist=[expr(element) for element in oldlist if condition]

In [15]:
list1=[old_list for old_list in [1,2,3,4,5]]
print(list1)

[1, 2, 3, 4, 5]

In [17]:
n=int(input())
digit=[int(n) for n in str(n)]
print(list(digit))

[1, 5, 6, 9, 7, 8]

In [18]:
#list comprehension for even and odd
list1=[i for i in range(11) if i%2==0]
print(list1)

[0, 2, 4, 6, 8, 10]

In [19]:
list1=[i for i in [1,4,2,5,6,7] if i%2==0]
print(list1)

[4, 2, 6]

In [24]:

list2=[[j for j in [1,2,3]]for i in range(3)]
list2

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [30]:
list1=[]
list2=[list1 for list1 in "welcome to data science"]
print(list2)

['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [4]:
def result(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
    

result(15,9)

24
6
135
1.6666666666666667

In [5]:
def result(a,b):
    sum1=a+b
    sub=a-b
    mul=a*b
    div=a/b

    print(f"Sum is {sum1},Subtraction is {sub},Multiplication is {mul},Division is {div}")
num1=int(input())
num2=int(input())
result(num1,num2)

Sum is 14,Subtraction is -4,Multiplication is 45,Division is 0.5555555555555556

In [ ]:
#find the largest value
def islargest(a,b,c):
    if (a>b and a>c) :
        print(f"largest is {a}")
    elif (b>a and b>c):
        print(f"largest is {b}")
    else:
        print(f"largest is {c}")
num1=int(input())
num2=int(input())
num3=int(input())
islargest(num1,num2,num3)

KeyboardInterrupt:

In [24]:
#Define a function to count no of vowels and consonants from strings

def string(x):
    v=0
    cons=0
    l1=["a","e","i","o","u","A","E","I","O","U"]

    for i in range(len(x)):
        if x[i] in l1:
            v=v+1
        else:
            cons=cons+1
    print(v,"\n",cons)
sen=input()
string(sen)

2
 2

In [25]:
def count(val):
    vow=0
    con=0
    for i in range(len(val)):
        if val[i] in ['a','e','i','o','u']:
            vow=vow+1
        else:
            con=con+1
    print(vow)
    print(con)
x=input()
count(x)

2
2

In [26]:
#function in variable
def add():
    print("Hello")
x=add
x()

Hello

In [29]:
#pass function as parameter
def display():
    print("Hello")
    
def msg():
    print("Student")
    
display(msg())

Student

TypeError: display() takes 0 positional arguments but 1 was given

In [32]:
def first():
    print("First")
    def second():
        print("Second")
    return second
x=first()
x()

First
Second

In [33]:
#Write a program to remove the repetitive values from list
num=[1,2,34,2,6,7,7,10,2,1]
s1=set(num)
l=list(s1)
print(l)

[1, 2, 34, 6, 7, 10]

In [4]:
def area(n):
    a=n*n*3.14
    return a
area(8)

200.96

### Type of argument
1. Required Positional argument
2. Default argument
3. Key-value pair of arguments
4. Variable length arguments

In [1]:
#Positional argument
def add(a,b):
    sum=a+b
    print(sum)
add(10,12)

22

In [5]:
#Default Argument

def add(a=7,b=8):
    sum=a+b
    print(sum)
add(2,3)
add()

5
15

In [6]:
#Keyword Argument
def display(fname,lname):
    print("First name:",fname,"\n","Last name:",lname)
display(lname='Rane',fname='Rashmi')

First name: Rashmi
 Last name: Rane

In [8]:
#variable length
def find_sum(*num):
    result=0
    for i in num:
        result=result+i
    print("Addition:", result)
find_sum(4,9,6,8)
find_sum(1,2)

Addition: 27
Addition: 3

### Built-in functions
#### lambda

In [11]:
#Lambda function

str1="data science"
rev_str=lambda str:str.upper()[::-1]
print(rev_str(str1))

ECNEICS ATAD

In [12]:
max=lambda a,b:a if(a>b) else b
print(max(3,9))

9

In [23]:
max=lambda a,b,c:a if(a>b)and(a>c) else b if(b>a)and(b>c) else c   
print(max(3,6,9))

9

In [3]:
#Program to find maximum value from heterogeneous list
def max_val(list_val):
    max_val=max(list_val,key=lambda i:(isinstance(i,int),i))
    return (max_val)
list_val=[1,2,'data',2,20]
print(list_val)
print(max_val(list_val))

[1, 2, 'data', 2, 20]
20

#### Filter function

In [3]:
cities=["Delhi","","Mumbai","","Jaipur","","","Jammu"]
x=list(filter(None,cities))
print(x)

['Delhi', 'Mumbai', 'Jaipur', 'Jammu']

In [9]:
age=[5,12,18,24,34]
# def myage(x):
#     if x>=18:
#         return True
#     else:
#         return False 
driving_wale=tuple(filter(lambda x:x>=18,age ))
print(driving_wale)

(18, 24, 34)

In [10]:
def filterdata(x):
    if x>5:
        return x
res=filter(filterdata,(1,2,5,6,3,8,9))
print(tuple(res))

(6, 8, 9)

In [12]:
res1=filter(None,(1,0,6))
res2=filter(None,(1,0,True,False))
print(list(res1),"\n",list(res2))

[1, 6]
 [1, True]

In [15]:
#Only function can pass in filter no conditions filter(func,iterable datatype)

t1=(3,5,8,9,6,12,15)
t2=filter(lambda x:x%3==0,t1)
print(tuple(t2))

(3, 9, 6, 12, 15)

In [19]:
num=[2,4,3,11,19,20,22,40,65,42]
t2=filter(lambda x:x%2==0,num)
print(list(t2))

[2, 4, 20, 22, 40, 42]

### Map Function

Only function can pass in map no conditions map(func,iterable datatype)

In [24]:
age=[5,12,17,24,33,50]

# def myfunc(x):
#     if x<=18:
#         return False
#     else:
#         return True
# def myfunc1(x):
#     return x*x

emp=filter(lambda x: x>=18,age)
squares=list(map(lambda x:x*x,emp))
print(squares)

[576, 1089, 2500]

In [30]:
print(list(map(lambda x:x*x,list(filter(lambda x: x>=18,age)))))

[576, 1089, 2500]

In [32]:
print(list(map(lambda x:x*x*3.14,[2,3,4,5])))

[12.56, 28.26, 50.24, 78.5]

### Zip function
Zip function is used to combine or join data from different data sets

In [36]:
x=[1,2,3,4]
y=["a","b","c","d"]
i=list(zip(x,y))
print(i)
# for i,j in zip(x,y):
#     print(i,j)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [38]:
x=[1,2,3,4,5,7,9]
y=["a","b","c","d"]
i=dict(zip(x,y))
print(i)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [39]:
stock=["reliance","infosys","TCS"]
price=[2175,1127,2750]
new_dict={stock:price for stock,price in zip(stock,price)}
print(new_dict)

{'reliance': 2175, 'infosys': 1127, 'TCS': 2750}

In [1]:
players=["Sachin","Sehwag","Rohit","Raina"]
scores=[100,75,100,80]
for p,sc in zip(players,scores):
    print("Player:%s   Score:%d"%(p,sc))

Player:Sachin   Score:100
Player:Sehwag   Score:75
Player:Rohit   Score:100
Player:Raina   Score:80

### Reduce Function

In [2]:
import functools


num=[1,2,3,5,6,7]
print(functools.reduce(lambda a,b:a+b,num))

24

In [8]:
num=[1,2,3,5,6,7]
print(functools.reduce(lambda a,b:a if a>b else b,num))
print(functools.reduce(lambda a,b:max(a,b),num))

7
7

In [19]:
#reduce function with operator function
import operator
num1=[1,4,7,9,20]
print("The sum of the numbers in list",end=" ")

print(functools.reduce(operator.add,num1))
print(functools.reduce(operator.mul,num1))
print(functools.reduce(operator.concat,["Today ","is ","Wednesday"]))
print(functools.reduce(operator.sub,num1))
print(functools.reduce(operator.mod,num))

The sum of the numbers in list 41
5040
Today is Wednesday
-39
1
(<built-in function add>, [1, 4, 7, 9, 20])

In [26]:
name="python"
n1=name.upper()
print(n1[0]+name[1:])

Python

In [40]:
s="this is pyhton module"
list1=s.split()
for i in list1:
    z=i[0].upper()+i[1:]
    print(z,end=" ")

This Is Pyhton Module

### CLASSESS OOP

In [7]:
class Employee:
    ename="Dhanesh"
    dept="IT"
    
    def emp_info(self):
        print("I am ",self.ename)
        print("My department is ",self.dept)
e1=Employee() # object creation
e1.emp_info()
# Employee.emp_info(self=e1)

I am  Dhanesh
My department is  IT
I am  Dhanesh
My department is  IT

In [10]:
class calc:
    def add(self,a,b):
        ''' addtion of two number '''
        return a+b
print("Enter two number:")
first=int(input())
second=int(input())
c1=calc()
res=c1.add(first,second)
print(res)
print(c1.add.__doc__)

Enter two number:
10
 addtion of two number

In [11]:
class calc:
    def add(self,a,b):
        ''' addtion of two number '''
        return a+b
    def sub(self,a,b):
        '''subtraction of two number '''
        return a-b
    def mul(self,a,b):
        '''multiply two number '''
        return a*b
print("Enter two number:")
first=int(input())
second=int(input())
c1=calc()
res=c1.add(first,second)
res1=c1.sub(first,second)
res2=c1.mul(first,second)
print(res,"\n",res1,"\n",res2)
print(c1.add.__doc__)

Enter two number:
14
 -4
 45
 addtion of two number

In [15]:
class Student:
    def __init__(self):
        self.sname=input("Enter the name of student")
        self.rollno=int(input("Enter roll no"))
        self.display()
    def display(self):
        print(self.sname,"\n",self.rollno)
s1=Student()
s2=Student()
s3=Student()

Dhanesh
 45
Rahul
 89
Dfsf
 456

In [4]:
# Single Inheritance
class parents: 
    def info(self):
        print("This is parent class")
class child (parents):
    def child_info(self):
        print("This is child class")
s1=child()
s1.info()
s1.child_info()

This is parent class
This is child class

In [12]:
class parents: 
    def info(self):
        self.l=int(input())
        self.b=int(input())
class child (parents):
    def child_info(self):
        a=self.l*self.b
        print("The area is : ",a)
       
s1=child()
s1.info()
s1.child_info()

The area is :  45

In [13]:
class rectangle:
    def __init__(self,le,br):
        self.le = le
        self.br = br
class area(rectangle):
    def area(self):
        rect_area=le*br
        return rect_area
le=int(input("Enter the Length: "))
br=int(input("Enter the breadth: "))
a1=area(le,br)
print("Area of rectangle: ",a1.area())

Area of rectangle:  45

In [21]:
# Multiple Inheritance
class father:
    eyes="black"
    def dad_info(self):
        return "I am father class"
    
class mother:
    eyes="brown"
    hair="black-brown"
    nose="straight"

    def mother_info(self):
        return "I am mother class"
class child(father,mother):
    def info(self):
        return "I am child class"
    
c1=child()
print(c1.eyes)
print(c1.hair)
print(c1.nose)
print(c1.info())
print(c1.mother_info())
print(c1.dad_info())

black
black-brown
straight
I am child class
I am mother class
I am father class

In [3]:
#Multilevel Inheritance
class Emp:
    name = "Dhanesh"
    sal=60000
    city='Dombivli'

    def info(self):
        print(f"{self.name} is having {self.sal} and living in {self.city}")
class Edu_tax_info(Emp):
    deg='MCA'
    grade='A+'
    tax=6.5
class sal_calc(Edu_tax_info):
    def annual_inc(self):
        tot_sal = self.sal*self.tax
        return tot_sal
s1=sal_calc()
s1.info()
print("Income",s1.annual_inc())

Dhanesh is having 60000 and living in Dombivli
Income 390000.0

In [14]:
class circle:
    r=int(input("Enter the radius"))
class rectangle:
    l=int(input("Enter the length of the rectangle"))
    b=int(input("Enter the breadth of the rectangle"))
class area(circle,rectangle):
    def whole(self):
        area1=self.l*self.b
        area2=self.r*self.r*3.14
        return print(area1,"\n",area2)
a1=area()
a1.whole()

25
 78.5

In [15]:
# Hierarchical Inheritance
class A: 
    num1=int(input())
    num2=int(input())
class B(A):
    def mult(self):
        mult1=self.num1*self.num2
        return mult1
class C(A):
    def add(self):
        add1=self.num1+self.num2
        return add1
c1=C()
b1=B()
print(f"The Addition is {c1.add()}")
print(f"The Multiplication is {b1.mult()}")

The Addition is 14
The Multiplication is 45

In [18]:
# Super() Function
class parent:
    def __init__(self):
        self.p_attri="I am parent"
    def p_method(self):
        print("back in my days")
class child(parent):
    def __init__(self):
        super().__init__()
        self.c_attri="I am child"
c1=child()
print(c1.p_attri)
c1.p_method()
print(c1.c_attri)

I am parent
back in my days
I am child

### Operator Overloading

In [5]:
class A:
    def __init__(self,a):
        self.a=a
    def __add__(self,other):
        return self.a+other.a
a1=A(1)
a2=A(2)
a3="Data"
a4="Science"
print(a1+a2,"\n",a3+a4)

3
 DataScience

In [7]:
class Numbers: 
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def __add__(self,o):
        return self.a+o.a,self.b+o.b
n1=Numbers(1,2)
n2=Numbers(8,3)

res=n1+n2
print(res)

(9, 5)

In [8]:
class check:
    def __init__(self,x):
        self.x=x
    def __gt__(s,o):
        if (s.x>o.x):
            return True
        else:
            return False
c1=check(10)
c2=check(20)
if (c1>c2):
    print("C1 is greater")
else:
    print("C2 is greater")

C2 is greater

In [9]:
import this
print(this.d)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
{'A': 'N', 'B': 'O', 'C': 'P', 'D': 'Q', 'E': 'R', 'F': 'S', 'G': 'T', 'H': 'U', 'I': 'V', 'J': 'W', 'K': 'X', 'L': 'Y', 'M': 'Z', 'N': 'A', 'O': 'B', 'P': 'C', 'Q': 'D', 'R': 'E', 'S': 'F', 'T': 'G', 'U': 'H', 'V': 'I', 'W': 'J', 'X': 'K', 'Y': 'L', 'Z': 'M', 'a': 'n', 'b': 'o', 'c': 'p', 'd': 'q', 'e': 'r', 'f': 's', 'g': 't', 'h': 'u', 'i': 'v', 'j': 'w', 'k': 'x', 'l': 'y', 'm': 'z', 'n': 'a', 'o': 'b', 'p': 'c', 'q': 'd', 'r': 'e', 's': 'f', 't': 'g', 'u': 'h', 'v': 'i', 'w': 'j', 'x': 'k', 'y': 'l', 'z': 'm'}

In [24]:
# file handling
file=open("demo.txt", "w")
file.write("""The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!""")
file.close()

In [43]:
import shutil
file=open("demo1.txt","w")
file.write("This is python lang\n")
file=open("demo1.txt","a")
file.write("This is a data science\nToday's topic is File Handling")
file=open("demo1.txt","r")
w=file.read()
print(w)
file.close()
# shutil.copy("demo1.txt","test.txt")

This is python lang
This is a data science
Today's topic is File Handling

### Regular Expression

**import re**

In [2]:
import re
s1="Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data. This analysis helps data scientists to ask and answer questions like what happened, why it happened, what will happen, and what can be done with the results."
# re.search()
pattern="business"
m1=re.search(pattern,s1)
m2=re.search("helps",s1)
print(m1.group(),"\n",m2.group())

business
 helps

In [3]:
#re.match()
m1=re.match("business",s1)
print(m1)
m2=re.match("Data science",s1)
print(m2.group())

None
Data science

In [4]:
s2="python python tableau"
p1="python"
p2="tableau"
m1=re.search(p1,s2)
m2=re.search(p2,s2)
print(m1,"\n",m2)

<re.Match object; span=(0, 6), match='python'>
 <re.Match object; span=(14, 21), match='tableau'>

In [5]:
m1=re.match(p1,s2)
m2=re.match(p2,s2)
print(m1,"\n",m2)

<re.Match object; span=(0, 6), match='python'>
 None

In [6]:
#re.findall()
m1=re.findall(p1,s2)
print(m1)

['python', 'python']

In [7]:
s3="My roll no is 12"
# p1="\d"
m1=re.findall("\d\d",s3)
print(m1)

['12']

In [8]:
s4="Product prices are 10 20 30 250 120 10"
p1="\d\d\d" or "\d\d"
m4=re.findall(p1,s4)
print(m4)

['250', '120']

In [9]:
s5="my name is Dhanesh and My roll no is 12"
p1="[A-Z][a-z]*"
m5=re.findall(p1,s5)
print(m5)

['Dhanesh', 'My']

In [10]:
s6="9876543210 1234567890 1593574862"
p1="\d{10}"
m1=re.findall(p1,s6)
print(m1)

['9876543210', '1234567890', '1593574862']

In [11]:
text="today is Apr 18,2023 and tomorrow call me at 234 567-8763 or 234-567-8763"
p1="\d{3}-\d{3}-\d{4}"
p2="\d{3}[\s-]\d{3}-\d{4}"
m6=re.findall(p2,text)
print(m6)

['234 567-8763', '234-567-8763']

In [12]:
msg="Available number are +91 8765432805 and +1 (823)-654-9876"
p1="\+\d{2}\s\d{10}|\+\d{1}\s[(]\d{3}[)]-\d{3}-\d{4}"
m6=re.findall(p1,msg)
print(m6)

['+91 8765432805', '+1 (823)-654-9876']

In [49]:
import re
text='05/3/2017 3/01/2017 1/6/17 34/11/937 may 21,2017 21st mar 2017'
day=r'(0?[0-9]|1?[0-9]|2?[0-9]|3?[01])'
month=r'(0?[0-9]|1?[0-2])'
year=r"(19[0-9]{2}|20[0-9]{2})"
sep=r'/'
pattern=r"((0?[0-9]|1?[0-9]|2?[0-9]|3?[01])[/](0?[0-9]|1?[0-2])[/](19[0-9]{2}|20[0-9]{2}))"
m4=re.findall(pattern,text)
print(m4)

[('05/3/2017', '05', '3', '2017'), ('3/01/2017', '3', '01', '2017')]

In [69]:
n=input()
pattern=r'7?[0-9]{9}|8?[0-9]{9}|9?[0-9]{9}'
m1=re.fullmatch(pattern,n)
# m2=str(m1)
# print(m1)
if m1!=None:
    print("Valid Pattern")
else:
    print("Invalid Pattern.")

Valid Pattern

In [1]:
from bs4 import BeautifulSoup as bs
import requests
url="https://www.google.com/maps/place/Food+town/@19.2183357,72.9755148,17z/data=!4m8!3m7!1s0x3be7b9f5e921a97d:0xbae166382f049184!8m2!3d19.2183307!4d72.9780897!9m1!1b1!16s%2Fg%2F11sxwmmd84"
r=requests.get(url)

htmlcontain=r.content
print(htmlcontain)

b'<!DOCTYPE html><html itemscope="" itemtype="http://schema.org/Place" lang="en-IN"> <head> <link href="/maps/preview/opensearch.xml?hl=en" title="Google Maps" rel="search" type="application/opensearchdescription+xml"> <title> Google Maps </title> <meta content="Find local businesses, view maps and get driving directions in Google Maps." name="Description">  <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport"> <meta content="chrome=1" http-equiv="X-UA-Compatible"> <meta content="notranslate" name="google"> <meta content="origin" name="referrer"> <meta content="ByHT0GXztW_RcGxS0o86DBf1WtNu02FfqlcT8njnSqU" name="google-site-verification"> <meta content="Diln__r3p9-tt39P2Cl2Amvx6oFB4PATnxuFBaw6ej8" name="google-site-verification">    <meta content="Food town \xc2\xb7 6X9H+86P, Thane West, Thane, Maharashtra" itemprop="name"> <meta content="Food town \xc2\xb7 6X9H+86P, Thane West, Thane, Maharashtra" property="og:title">  <meta content="https://lh5.googleusercontent.com/p/AF1QipOrv8dqr9nF7jjQ10iYK5i81reY6bKnTzzrjZSb=w256-h256-k-no-p" itemprop="image"> <meta content="https://lh5.googleusercontent.com/p/AF1QipOrv8dqr9nF7jjQ10iYK5i81reY6bKnTzzrjZSb=w256-h256-k-no-p" property="og:image"> <meta content="256" property="og:image:width"> <meta content="256" property="og:image:height">  <meta content="\xe2\x98\x85\xe2\x98\x85\xe2\x98\x85\xe2\x98\x85\xe2\x98\x85 \xc2\xb7 Coffee shop" itemprop="description"> <meta content="\xe2\x98\x85\xe2\x98\x85\xe2\x98\x85\xe2\x98\x85\xe2\x98\x85 \xc2\xb7 Coffee shop" property="og:description">  <meta content="Food town \xc2\xb7 6X9H+86P, Thane West, Thane, Maharashtra" property="og:site_name"> <meta content="summary" name="twitter:card">      <script nonce="KbYhVTj1SFx76P-bcHAHVA">(function(){(function(){function c(d){this.t={};this.tick=function(g,e,f){e=void 0!=f?f:(new Date).getTime();this.t[g]=e};this.getStartTickTime=function(){return this.t.start};this.tick("start",null,d)}var b;if(window.performance)var a=(b=window.performance.timing)&&b.responseStart;var h=0<a?new c(a):new c;window.tactilecsi={Timer:c,load:h};b&&(b=b.navigationStart,0<b&&a>=b&&(window.tactilecsi.srt=a-b));try{a=null,window.chrome&&window.chrome.csi&&(a=Math.floor(window.chrome.csi().pageT)),null==a&&window.gtbExternal&&\n(a=window.gtbExternal.pageT()),null==a&&window.external&&(a=window.external.pageT),a&&(window.tactilecsi.pt=a)}catch(d){}})();}).call(this);</script> <script nonce="KbYhVTj1SFx76P-bcHAHVA">function tick(t){if (window.tactilecsi){window.tactilecsi.load.tick(t);}\nif (window[\'wtf\']&& window[\'wtf\'][\'trace\']&&\nwindow[\'wtf\'][\'trace\'][\'timeStamp\']){window[\'wtf\'][\'trace\'][\'timeStamp\'](\'application.\' + t);}\n}\n\ntick(\'start\');tick(\'p0\');</script> <script nonce="KbYhVTj1SFx76P-bcHAHVA">(function(){\'use strict\';\nvar b="click mousedown rightclick contextmenu keypress wheel".split(" ");function c(a){d.data={type:a.type,target:a.target,currentTarget:a.currentTarget,time:Date.now(),beforeAppLoad:!0};(a=d.dispose)&&a()}\nfunction e(){for(var a=0;a<b.length;a++)document.removeEventListener(b[a],c);delete d.dispose}\nvar f={},g=["globals","fua"],h=this||self;g[0]in h||"undefined"==typeof h.execScript||h.execScript("var "+g[0]);for(var k;g.length&&(k=g.shift());)g.length||void 0===f?h[k]&&h[k]!==Object.prototype[k]?h=h[k]:h=h[k]={}:h[k]=f;var d=globals.fua;d.install=function(){for(var a=0;a<b.length;a++)document.addEventListener(b[a],c);d.dispose=e};}).call(this);</script> <script nonce="KbYhVTj1SFx76P-bcHAHVA">globals.fua.install();</script> <script nonce="KbYhVTj1SFx76P-bcHAHVA">(function(){\n\'use strict\';var l="function"==typeof Object.create?Object.create:function(a){var b=function(){};b.prototype=a;return new b},p;if("function"==typeof Object.setPrototypeOf)p=Object.setPrototypeOf;else{var q;a:{var t={a:!0},u={};try{u.__proto__=t;q=u.a;break a}catch(a){}q=!1}p=q?function(a,b){a.__proto__=b;if(a.__proto__!==b)throw new TypeError(a+" is not extensible");return a}:null}var v=p,w=function(){for(var a=Number(this),b=[],c=a;c<arguments.length;c++)b[c-a]=arguments[c];return b},x=this||self,y=function(a,b,c){a=a.split(".");c=c||x;a[0]in c||"undefined"==typeof c.execScript||c.execScript("var "+a[0]);for(var d;a.length&&(d=a.shift());)a.length||void 0===b?c[d]&&c[d]!==Object.prototype[d]?c=c[d]:c=c[d]={}:c[d]=b};function z(a,b){return x.setTimeout(function(){try{a()}catch(c){throw c;}},b)}\n;var A=/(?:@|\\()([^:]*(:\\/)?[^:]*(:\\d+\\/)?[^:]*):/;function B(a,b){var c=0;a.forEach(function(d){c+=d.length});b.forEach(function(d){c+=d.length});return 3*(a.length+b.length)+1.1*c}\n;var C=function(a,b,c,d){this.o=b;this.g=this.m=a;this.s=c||0;this.u=d||2};C.prototype.j=function(){return this.m};var D=function(a,b,c){C.call(this,a,b);this.v=c;this.l=null;this.h=this.i=0};D.prototype=l(C.prototype);D.prototype.constructor=D;if(v)v(D,C);else for(var E in C)if("prototype"!=E)if(Object.defineProperties){var F=Object.getOwnPropertyDescriptor(C,E);F&&Object.defineProperty(D,E,F)}else D[E]=C[E];var G=function(a){var b=Date.now();if(0===a.h)return a.h=b,!0;var c=b>a.h+a.j();c&&(a.h=b,a.g=Math.min(a.o,a.g*a.u),a.m=Math.min(a.o,a.g+(a.s?Math.round(a.s*(Math.random()-.5)*2*a.g):0)));return c};D.prototype.j=function(){var a=C.prototype.j.call(this);this.l&&x.clearTimeout(this.l);this.l=z(this.v,2*a);return a};var H=function(){this.g={}};H.prototype.get=function(a){return this.g[I(a)]};H.prototype.set=function(a,b){this.g[I(a)]=b};function I(a){if(null===a)return" ";for(;":"===a.charAt(a.length-1);)a=a.slice(0,a.length-1);a=a.split(":");return a[a.length-1].trim()}\n;var K=function(){var a="undefined"===typeof DEV_MODE?!1:DEV_MODE,b="undefined"===typeof LOGGING_ENDPOINT?"/maps/preview/log204":LOGGING_ENDPOINT,c="undefined"===typeof JS_VERSION?null:JS_VERSION,d="undefined"===typeof APP_OPTIONS?null:APP_OPTIONS[1],e="undefined"===typeof PRODUCT_ID?81:PRODUCT_ID,k=this;var f=void 0===f?x.location&&x.location.hostname:f;this.u=a;this.B=c;this.A=d;this.m=f;this.g=null;this.o=!1;this.s=this.i=null;this.j=b;this.v=e;this.h=new H;this.l=new H;var h=x.onerror;x.onerror=\nfunction(){var g=w.apply(0,arguments);h&&h.apply(null,g);J(k,g[0],g[1],g[2])}};K.prototype.listen=function(a){this.g=a};K.prototype.log=function(a,b){J(this,a,void 0,void 0,b);return a};var L=function(a,b){var c=a.h.get(b);c||(c=new D(6E4,36E5,function(){delete a.h.g[I(b)]}),a.h.set(b,c));c.i++;return c},O=function(a,b,c,d,e,k){var f=M(b&&"object"===typeof b?b.message:b,k||1);f.type="error";f.count=e.i;e.i=0;if(b&&"object"===typeof b){if(c=b.file||"",f.file="string"===typeof c?c.slice(0,400):"",f.line=b.line||0,"string"===typeof b.stack){b=b.stack.split("\\n");c=0;for(d=b.length;c<d&&40>c;++c)e=b[c].trim(),0<e.length&&f.stack.push(e);f.stackUrls=[];b=f.stack||[];c=f.stackUrls;d=1700-(3+1.1*(f.message||"").length);e={};for(var h=0,g=0;g<b.length;++g){var n=b[g],m=n.match(A);if(m){m=m[1];if(e[m])var r=e[m];else r=".."+h+"..",e[m]=r,c.push(m),h++;b[g]=n.replace(m,r)}}n=e=\nB(b,c);g="";for(h=null;n>d;){g=b.pop()||"";h=null;n=".."+(c.length-1)+"..";if(-1<g.indexOf(n)){m=!1;for(r=b.length-1;0<=r;r--)if(-1<b[r].indexOf(n)){m=!0;break}m||(h=c.pop())}n=B(b,c)}0>=Math.ceil(e-n)?b=0:(d=Math.floor(d-n),3<d&&(g=g.length>d?g.substr(0,d-3)+"...":g,b.push(g),d-=g.length,h&&3<d&&c.push(h.length>d?h.substr(0,d-3)+"...":h)),b=Math.ceil(e-B(b,c)));f.stackTruncation=b}}else f.file="string"===typeof c?c.slice(0,400):"",f.line=d||0;N(a,f,k)&&(f.errorType=9);return f},N=function(a,b,c){var d=\nb.message,e=navigator.userAgent;if(/HeadlessChrome|PhantomJS/.test(e)||/Trident\\/7\\.0/.test(e)&&!/rv:11\\.0/.test(e)||a.m&&!/\\.google\\./.test(a.m)||0<=d.indexOf("zCommon")||0<=d.indexOf("887a0005")||!c&&("Script error"===d||"Script error."===d)||-1!==d.indexOf("Not enough storage is available to complete this operation.")||0<=d.indexOf("ArrayBuffer length minus the")||d.match(/new RegExp.*ludo_cid/)||0<=d.indexOf("Cannot read property \'mute\' of null")||0<=d.indexOf("can\'t access dead object"))return!0;a=b.file||"";if(a.match(/^(chrome|moz|safari)-extension:/)||\na.match(/> eval$/))return!0;c=b.stack;for(e=0;e<c.length;++e)if(c[e].match(/phantomjs/i))return!0;if(0<=d.indexOf("JSON syntax error")&&a&&!(0<=a.indexOf("/maps")))return!0;if(b=b.stackUrls)for(d=0;d<b.length;++d)if(a=b[d],0===a.indexOf("resource://")||0===a.indexOf("chrome-extension://")||0===a.indexOf("https://")&&8!==a.indexOf("www.google")&&8!==a.indexOf("maps.gstatic")&&8!==a.indexOf("www.gstatic")&&8!==a.indexOf("apis.google"))return!0;return!1},J=function(a,b,c,d,e){var k=b&&"object"===typeof b?b.message:b,f=a.l.get(k);if(f)f&&k.length>f.message.length&&(f.message=k);else if(f=L(a,k),G(f)){var h=O(a,b,c,d,f,e);P(a,h);a.l.set(k,h);x.setTimeout(function(){a.g&&a.g(h);a.o||Q(a,h);delete a.l.g[I(k)]},0)}},P=function(a,b){var c=b.message+"\\n";for(var d=0,e=b.stack.length;d<e;++d)c+=b.stack[d]+"\\n";d=0;for(e=b.stackUrls.length;d<e;++d)c+=".."+d+"..="+b.stackUrls[d]+"\\n";a.i||(a.i=c);a.s=c},Q=function(a,b){if(a.j){var c=2;b.count&&1<b.count&&c++;var d=4;b.file&&d++;b.line&&d++;b.stack&&(d+=b.stack.length);void 0!==b.stackTruncation&&0<b.stackTruncation&&d++;b.stackUrls&&(d+=b.stackUrls.length);var e=[];e.push("!8m");e.push(""+(c+d));e.push("!2e6");b.count&&1<b.count&&(e.push("!7i"),e.push(b.count));e.push("!9m");e.push(""+d);e.push("!1s");e.push(R(b.message));b.file&&(e.push("!2s"),e.push(R(b.file)));b.line&&(e.push("!3i"),e.push(b.line));if(b.stack)for(c=0,d=b.stack.length;c<d;++c)e.push("!4s"),e.push(R(b.stack[c]));e.push("!6s");e.push(R(a.B));e.push("!8e"+b.errorType);void 0!==b.stackTruncation&&0<b.stackTruncation&&(e.push("!9i"),e.push(b.stackTruncation));if(b.stackUrls)for(c=0,d=b.stackUrls.length;c<d;c++)e.push("!10s"),e.push(R(b.stackUrls[c]));e.push("!11s");e.push(R(a.A));e.push("!11m1");e.push("!7e");e.push(String(a.v||0));var k=""+a.j+(0<=a.j.indexOf("?")?"&":"?")+"pb="+e.join("");if(a.u)(a=x.console)&&a.log.call(a,k);else{var f=x.XMLHttpRequest&&new XMLHttpRequest;f&&x.setTimeout(function(){f.open("GET",k,!0);f.send(null)},0)}}},R=function(a){a=a||"";0<a.indexOf("*")&&(a=a.replace(S,"*2A"));0<a.indexOf("!")&&(a=a.replace(T,"*21"));return encodeURIComponent(a)},M=function(a,b){return{message:a?a.slice(0,400):"",file:"",line:0,stack:[],stackUrls:[],errorType:void 0===b?1:b}},T=RegExp("(!)","g"),S=RegExp("(\\\\*)","g");if("undefined"===typeof globals||void 0===globals.ErrorHandler){var U=new K,V=function(a,b){return U.log(a,b)};x._DumpException=V;y("globals.ErrorHandler",{listen:function(a){U.listen(a)},log:V,ne:M,dr:function(){U.o=!0},fe:function(){return U.i},mre:function(){return U.s}});y("_._DumpException",V,x)};}).call(this);</script> <script nonce="KbYhVTj1SFx76P-bcHAHVA">window._ = window._ || {};window._._DumpException = function(e){throw globals.ErrorHandler.log(e);};window._DumpException = function(e){throw globals.ErrorHandler.log(e);};</script>  <link href="//www.google.com/images/branding/product/ico/maps15_bnuw3a_32dp.ico" rel="shortcut icon"> <script nonce="KbYhVTj1SFx76P-bcHAHVA">(function(){window.APP_OPTIONS=[null,"20230423.0",null,["/search?tbm\\u003dmap\\u0026authuser\\u003d0\\u0026hl\\u003den\\u0026gl\\u003din","/s?tbm\\u003dmap\\u0026gs_ri\\u003dmaps\\u0026suggest\\u003dp\\u0026authuser\\u003d0\\u0026hl\\u003den\\u0026gl\\u003din","/maps/preview/directions?authuser\\u003d0\\u0026hl\\u003den\\u0026gl\\u003din",null,"/maps/preview/entity?authuser\\u003d0\\u0026hl\\u003den\\u0026gl\\u003din","/maps/rpc/vp?authuser\\u003d0\\u0026hl\\u003den\\u0026gl\\u003din",[["/maps/vt"],644,["/maps/vt/stream"],null,0,null,946,"/maps/vt",null,null,"CsoPYnsIAhJQEjYIAhIHdHJhZmZpYxi/hD0iDgoJaW5jaWRlbnRzEgExIhMKDmluY2lkZW50c190ZXh0EgExYAEaFGISCEQSDgoDc2V0EgdSb2FkbWFwIAEiFwABAgMEBQYHCAkKCwwNDg8QERITFBUWMLQBOHhKB3RyYWZmaWNiVAgDEigSDggCEgRiaWtlGL+EPWABGhRiEghEEg4KA3NldBIHUm9hZG1hcCABIhcAAQIDBAUGBwgJCgsMDQ4PEBESExQVFjCAmp4BOICjBUoEYmlrZWJhCAgSMhIRCAISB3RyYW5zaXQYv4Q9YAEaG2IZCEQSFQoDc2V0Eg5UcmFuc2l0Rm9jdXNlZCABIhcAAQIDBAUGBwgJCgsMDQ4PEBESExQVFjCAmp4BOICjBUoHdHJhbnNpdGJ/CB0SZBIgCAISCGxvcmUtcmVjGL+EPWAB8qHqxAkIKAYoCSgMKA8gATI+CAwQAjAAOAHgAQaAAgG4AgHAAgHIAgHYAgHoAgGQAwHIAwHgAwHwAwbwAwnwAwzwAw/4Awj4Awv4Aw74AxUiBAYJDA8wgKMFOIgOSghsb3JlLXJlY2J7CB4SYhIwCAISCWxvcmUtcDEzbhi/hD1gAYrVl6YJBRCl/rcWqtGSugoAisfW0AsAkpf01gsAIAEyLAgMEAIwADgB4AEGgAIBuAIBwAIByAIB2AIB6AIBkAMByAMB4AMB8AMK+AMVIgEKMICjBTjYBEoJbG9yZS1wMTNuYn8IJBI/Eh4IAhIYaG90ZWwtY2F0ZWdvcmljYWwtc2VhcmNoYAEaFGISCEQSDgoDc2V0EgdSb2FkbWFwIAEyBZoEAggCIhcAAQIDBAUGBwgJCgsMDQ4PEBESExQVFjCAmp4BOICjBUoYaG90ZWwtY2F0ZWdvcmljYWwtc2VhcmNoYjgIIRIdEg4IAhIIYnVzeW5lc3NgASABMgnIAwHwAw/4AxIiAQ8wkBw4hAdCAggBSghidXN5bmVzc2JDCCgSJxITCAISDWFyZWEtYnVzeW5lc3NgASABMg7IAwHwAwz4AxaaBAIIASIBDDCQHDiEB0oNYXJlYS1idXN5bmVzc2JgCDASLBISCAISDHJlc3RyaWN0aW9uc2ABGhRiEghEEg4KA3NldBIHUm9hZG1hcCABIhcAAQIDBAUGBwgJCgsMDQ4PEBESExQVFjCAmp4BOICjBUoMcmVzdHJpY3Rpb25zYqoBCCUSgwESEQgCEgthaXItcXVhbGl0eWABGhRiEghEEg4KA3NldBIHUm9hZG1hcCABMlbIAwHwAwDwAwHwAwPwAwXwAwjwAwrwAwvwAwzwAw3wAw7wAw/wAxDwAxP4AwH4AwL4AwT4Awf4Awn4Awv4Awz4Aw34Aw74Aw/4AxD4AxL4AxaaBAIIAiINAAEDBQgKCwwNDg8QEzCEBzisAkoLYWlyLXF1YWxpdHliXwgsEkISFQgCEgdjcmlzaXMyYAH6jcWMCwIIAxoUYhIIRBIOCgNzZXQSB1JvYWRtYXAgATIMwAIByAMB8AMJ+AMWogECEAMiAQkw6AI4rAJKDmNyaXNpc19vdmVybGF5YpYBCC8SOxIXCAISB2NyaXNpczJgAfqNxYwLBAgDIAEaFGISCEQSDgoDc2V0EgdSb2FkbWFwIAEyA8ACAaIBAhADIhcAAQIDBAUGBwgJCgsMDQ4PEBESExQVFjDoAjisAko2Y3Jpc2lzX2FtYmllbnRfYWxlcnRzX2luX2FsbF96b29tc19mb3JfdGVzdGluZ19vdmVybGF5YmkIJxI0EhUIAhIHY3Jpc2lzMmAB+o3FjAsCCAIaFGISCEQSDgoDc2V0EgdSb2FkbWFwIAEyA8ACASIXAAECAwQFBgcICQoLDA0ODxAREhMUFRYw6AI4rAJKEGNyaXNpc193aWxkZmlyZXNiUQgqEjMSGQgCEglwaG90b3BpbnNgAfLOnbUMBBgDMAIgATIUyAMB8AMN8AMS+AMR+AMWmgQCCAEiAg0SMJAcOIQHSg5iYXNlbWFwLXBob3Rvc2JxCC0SNxIdCAISF3RyYXZlbC1tYXAtcmVhY2hhYmlsaXR5YAEaFGISCEQSDgoDc2V0EgdSb2FkbWFwIAEiFwABAgMEBQYHCAkKCwwNDg8QERITFBUWMICjBUoXdHJhdmVsLW1hcC1yZWFjaGFiaWxpdHliqAEILhJvGjYoIWICCC9iEghEEg4KA3NldBIHUm9hZG1hcGICCBRiFggjEhIKCW11bHRpem9vbRIFZmFsc2UgASoFLQAAgD8yIwgMEAIwADgB4AEGgAIBuAIByAIB2AIB6AIBkAMBsAMB4AMBogEGGAEwAXgBGAEiFwABAgMEBQYHCAkKCwwNDg8QERITFBUWMICangE4gKMFSg9tYXBzX2FwaV9kZHNfMXBirgEIMRJ8EhAIAhIKZGlyZWN0aW9uc2ABGjYoIWICCC9iEghEEg4KA3NldBIHUm9hZG1hcGICCBRiFggjEhIKCW11bHRpem9vbRIFZmFsc2UgATIlCAwQAjAAOAFYAOABBoACAbgCAcACAcgCAdgCAegCAZADAeADAaIBBhgBMAF4ASIXAAECAwQFBgcICQoLDA0ODxAREhMUFRYwgJqeATiAowVKCmRpcmVjdGlvbnMShCUIhAUScwgBEm9odHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXBTYXRlbGxpdGUtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUScwgCEm9odHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXBTYXRlbGxpdGUtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUScwgDEm9odHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXBTYXRlbGxpdGUtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSbQgEEmlodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb24tRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSdQgFEnFodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb25Mb3dMaWdodC1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJ2CAYScmh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtTmF2aWdhdGlvblNhdGVsbGl0ZS1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJqCAcSZmh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtUm9hZG1hcC1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJqCAgSZmh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtUm9hZG1hcC1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJ0CAkScGh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtUm9hZG1hcEFtYmlhY3RpdmUtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSaggKEmZodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXAtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUScwgLEm9odHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXBTYXRlbGxpdGUtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSaggMEmZodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVRlcnJhaW4tRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSbQgNEmlodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb24tRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSbQgOEmlodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb24tRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSdAgPEnBodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXBBbWJpYWN0aXZlLUVuaGFuY2VkVHJhaWxzLTcyM2ZmZTRjMDAxY2Q3ZTYwMzEzNGNmN2EyYzMzMGY1EnoIEBJ2aHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1Sb2FkbWFwQW1iaWFjdGl2ZUxvd0JpdC1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJ1CBEScWh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtTmF2aWdhdGlvbkxvd0xpZ2h0LUVuaGFuY2VkVHJhaWxzLTcyM2ZmZTRjMDAxY2Q3ZTYwMzEzNGNmN2EyYzMzMGY1EnEIEhJtaHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1UcmFuc2l0Rm9jdXNlZC1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJxCBMSbWh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtQmFzZW1hcEVkaXRpbmctRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUScAgUEmxodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvdXRlT3ZlcnZpZXctRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSaggVEmZodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXAtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSeQgWEnVodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb25FbWJlZGRlZEF1dG8tRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSgQEIFxJ9aHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1OYXZpZ2F0aW9uRW1iZWRkZWRBdXRvTG93TGlnaHQtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSeggZEnZodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLUJhc2VtYXBFZGl0aW5nU2F0ZWxsaXRlLUVuaGFuY2VkVHJhaWxzLTcyM2ZmZTRjMDAxY2Q3ZTYwMzEzNGNmN2EyYzMzMGY1EmoIGhJmaHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1Sb2FkbWFwLUVuaGFuY2VkVHJhaWxzLTcyM2ZmZTRjMDAxY2Q3ZTYwMzEzNGNmN2EyYzMzMGY1Em4IGxJqaHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1Sb2FkbWFwRGFyay1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJ0CBwScGh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtUm91dGVPdmVydmlld0RhcmstRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSbggdEmpodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVRlcnJhaW5EYXJrLUVuaGFuY2VkVHJhaWxzLTcyM2ZmZTRjMDAxY2Q3ZTYwMzEzNGNmN2EyYzMzMGY1EnUIHhJxaHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1UcmFuc2l0Rm9jdXNlZERhcmstRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSaggfEmZodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXAtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSbgggEmpodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVJvYWRtYXBEYXJrLUVuaGFuY2VkVHJhaWxzLTcyM2ZmZTRjMDAxY2Q3ZTYwMzEzNGNmN2EyYzMzMGY1Em4IIRJqaHR0cHM6Ly93d3cuZ3N0YXRpYy5jb20vbWFwcy9yZXMvQ29tcGFjdExlZ2VuZC1Sb2FkbWFwRGFyay1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJ3CCUSc2h0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtTmF2aWdhdGlvbkhpZ2hEZXRhaWwtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSfwgmEntodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb25IaWdoRGV0YWlsTG93TGlnaHQtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y3YTJjMzMwZjUSaQgpEmVodHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLVRyYXZlbC1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRJtCCoSaWh0dHBzOi8vd3d3LmdzdGF0aWMuY29tL21hcHMvcmVzL0NvbXBhY3RMZWdlbmQtVHJhdmVsRGFyay1FbmhhbmNlZFRyYWlscy03MjNmZmU0YzAwMWNkN2U2MDMxMzRjZjdhMmMzMzBmNRKCAQgrEn5odHRwczovL3d3dy5nc3RhdGljLmNvbS9tYXBzL3Jlcy9Db21wYWN0TGVnZW5kLU5hdmlnYXRpb25FbWJlZGRlZEF1dG9TYXRlbGxpdGUtRW5oYW5jZWRUcmFpbHMtNzIzZmZlNGMwMDFjZDdlNjAzMTM0Y2Y

In [2]:
soup=bs(htmlcontain,"html.parser")
print(soup.prettify())

<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/Place" lang="en-IN">
 <head>
  <link href="/maps/preview/opensearch.xml?hl=en" rel="search" title="Google Maps" type="application/opensearchdescription+xml"/>
  <title>
   Google Maps
  </title>
  <meta content="Find local businesses, view maps and get driving directions in Google Maps." name="Description"/>
  <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="chrome=1" http-equiv="X-UA-Compatible"/>
  <meta content="notranslate" name="google"/>
  <meta content="origin" name="referrer"/>
  <meta content="ByHT0GXztW_RcGxS0o86DBf1WtNu02FfqlcT8njnSqU" name="google-site-verification"/>
  <meta content="Diln__r3p9-tt39P2Cl2Amvx6oFB4PATnxuFBaw6ej8" name="google-site-verification"/>
  <meta content="Food town · 6X9H+86P, Thane West, Thane, Maharashtra" itemprop="name"/>
  <meta content="Food town · 6X9H+86P, Thane West, Thane, Maharashtra" property="og:title"/>
  <meta content="https://lh5.googleusercontent.com/p/AF1QipOrv8dqr9nF7jjQ10iYK5i81reY6bKnTzzrjZSb=w256-h256-k-no-p" itemprop="image"/>
  <meta content="https://lh5.googleusercontent.com/p/AF1QipOrv8dqr9nF7jjQ10iYK5i81reY6bKnTzzrjZSb=w256-h256-k-no-p" property="og:image"/>
  <meta content="256" property="og:image:width"/>
  <meta content="256" property="og:image:height"/>
  <meta content="★★★★★ · Coffee shop" itemprop="description"/>
  <meta content="★★★★★ · Coffee shop" property="og:description"/>
  <meta content="Food town · 6X9H+86P, Thane West, Thane, Maharashtra" property="og:site_name"/>
  <meta content="summary" name="twitter:card"/>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">
   (function(){(function(){function c(d){this.t={};this.tick=function(g,e,f){e=void 0!=f?f:(new Date).getTime();this.t[g]=e};this.getStartTickTime=function(){return this.t.start};this.tick("start",null,d)}var b;if(window.performance)var a=(b=window.performance.timing)&&b.responseStart;var h=0<a?new c(a):new c;window.tactilecsi={Timer:c,load:h};b&&(b=b.navigationStart,0<b&&a>=b&&(window.tactilecsi.srt=a-b));try{a=null,window.chrome&&window.chrome.csi&&(a=Math.floor(window.chrome.csi().pageT)),null==a&&window.gtbExternal&&
(a=window.gtbExternal.pageT()),null==a&&window.external&&(a=window.external.pageT),a&&(window.tactilecsi.pt=a)}catch(d){}})();}).call(this);
  </script>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">
   function tick(t){if (window.tactilecsi){window.tactilecsi.load.tick(t);}
if (window['wtf']&& window['wtf']['trace']&&
window['wtf']['trace']['timeStamp']){window['wtf']['trace']['timeStamp']('application.' + t);}
}

tick('start');tick('p0');
  </script>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">
   (function(){'use strict';
var b="click mousedown rightclick contextmenu keypress wheel".split(" ");function c(a){d.data={type:a.type,target:a.target,currentTarget:a.currentTarget,time:Date.now(),beforeAppLoad:!0};(a=d.dispose)&&a()}
function e(){for(var a=0;a<b.length;a++)document.removeEventListener(b[a],c);delete d.dispose}
var f={},g=["globals","fua"],h=this||self;g[0]in h||"undefined"==typeof h.execScript||h.execScript("var "+g[0]);for(var k;g.length&&(k=g.shift());)g.length||void 0===f?h[k]&&h[k]!==Object.prototype[k]?h=h[k]:h=h[k]={}:h[k]=f;var d=globals.fua;d.install=function(){for(var a=0;a<b.length;a++)document.addEventListener(b[a],c);d.dispose=e};}).call(this);
  </script>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">
   globals.fua.install();
  </script>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">
   (function(){
'use strict';var l="function"==typeof Object.create?Object.create:function(a){var b=function(){};b.prototype=a;return new b},p;if("function"==typeof Object.setPrototypeOf)p=Object.setPrototypeOf;else{var q;a:{var t={a:!0},u={};try{u.__proto__=t;q=u.a;break a}catch(a){}q=!1}p=q?function(a,b){a.__proto__=b;if(a.__proto__!==b)throw new TypeError(a+" is not extensible");return a}:null}var v=p,w=function(){for(var a=Number(this),b=[],c=a;c<arguments.length;c++)b[c-a]=arguments[c];return b},x=this||self,y=function(a,b,c){a=a.split(".");c=c||x;a[0]in c||"undefined"==typeof c.execScript||c.execScript("var "+a[0]);for(var d;a.length&&(d=a.shift());)a.length||void 0===b?c[d]&&c[d]!==Object.prototype[d]?c=c[d]:c=c[d]={}:c[d]=b};function z(a,b){return x.setTimeout(function(){try{a()}catch(c){throw c;}},b)}
;var A=/(?:@|\()([^:]*(:\/)?[^:]*(:\d+\/)?[^:]*):/;function B(a,b){var c=0;a.forEach(function(d){c+=d.length});b.forEach(function(d){c+=d.length});return 3*(a.length+b.length)+1.1*c}
;var C=function(a,b,c,d){this.o=b;this.g=this.m=a;this.s=c||0;this.u=d||2};C.prototype.j=function(){return this.m};var D=function(a,b,c){C.call(this,a,b);this.v=c;this.l=null;this.h=this.i=0};D.prototype=l(C.prototype);D.prototype.constructor=D;if(v)v(D,C);else for(var E in C)if("prototype"!=E)if(Object.defineProperties){var F=Object.getOwnPropertyDescriptor(C,E);F&&Object.defineProperty(D,E,F)}else D[E]=C[E];var G=function(a){var b=Date.now();if(0===a.h)return a.h=b,!0;var c=b>a.h+a.j();c&&(a.h=b,a.g=Math.min(a.o,a.g*a.u),a.m=Math.min(a.o,a.g+(a.s?Math.round(a.s*(Math.random()-.5)*2*a.g):0)));return c};D.prototype.j=function(){var a=C.prototype.j.call(this);this.l&&x.clearTimeout(this.l);this.l=z(this.v,2*a);return a};var H=function(){this.g={}};H.prototype.get=function(a){return this.g[I(a)]};H.prototype.set=function(a,b){this.g[I(a)]=b};function I(a){if(null===a)return" ";for(;":"===a.charAt(a.length-1);)a=a.slice(0,a.length-1);a=a.split(":");return a[a.length-1].trim()}
;var K=function(){var a="undefined"===typeof DEV_MODE?!1:DEV_MODE,b="undefined"===typeof LOGGING_ENDPOINT?"/maps/preview/log204":LOGGING_ENDPOINT,c="undefined"===typeof JS_VERSION?null:JS_VERSION,d="undefined"===typeof APP_OPTIONS?null:APP_OPTIONS[1],e="undefined"===typeof PRODUCT_ID?81:PRODUCT_ID,k=this;var f=void 0===f?x.location&&x.location.hostname:f;this.u=a;this.B=c;this.A=d;this.m=f;this.g=null;this.o=!1;this.s=this.i=null;this.j=b;this.v=e;this.h=new H;this.l=new H;var h=x.onerror;x.onerror=
function(){var g=w.apply(0,arguments);h&&h.apply(null,g);J(k,g[0],g[1],g[2])}};K.prototype.listen=function(a){this.g=a};K.prototype.log=function(a,b){J(this,a,void 0,void 0,b);return a};var L=function(a,b){var c=a.h.get(b);c||(c=new D(6E4,36E5,function(){delete a.h.g[I(b)]}),a.h.set(b,c));c.i++;return c},O=function(a,b,c,d,e,k){var f=M(b&&"object"===typeof b?b.message:b,k||1);f.type="error";f.count=e.i;e.i=0;if(b&&"object"===typeof b){if(c=b.file||"",f.file="string"===typeof c?c.slice(0,400):"",f.line=b.line||0,"string"===typeof b.stack){b=b.stack.split("\n");c=0;for(d=b.length;c<d&&40>c;++c)e=b[c].trim(),0<e.length&&f.stack.push(e);f.stackUrls=[];b=f.stack||[];c=f.stackUrls;d=1700-(3+1.1*(f.message||"").length);e={};for(var h=0,g=0;g<b.length;++g){var n=b[g],m=n.match(A);if(m){m=m[1];if(e[m])var r=e[m];else r=".."+h+"..",e[m]=r,c.push(m),h++;b[g]=n.replace(m,r)}}n=e=
B(b,c);g="";for(h=null;n>d;){g=b.pop()||"";h=null;n=".."+(c.length-1)+"..";if(-1<g.indexOf(n)){m=!1;for(r=b.length-1;0<=r;r--)if(-1<b[r].indexOf(n)){m=!0;break}m||(h=c.pop())}n=B(b,c)}0>=Math.ceil(e-n)?b=0:(d=Math.floor(d-n),3<d&&(g=g.length>d?g.substr(0,d-3)+"...":g,b.push(g),d-=g.length,h&&3<d&&c.push(h.length>d?h.substr(0,d-3)+"...":h)),b=Math.ceil(e-B(b,c)));f.stackTruncation=b}}else f.file="string"===typeof c?c.slice(0,400):"",f.line=d||0;N(a,f,k)&&(f.errorType=9);return f},N=function(a,b,c){var d=
b.message,e=navigator.userAgent;if(/HeadlessChrome|PhantomJS/.test(e)||/Trident\/7\.0/.test(e)&&!/rv:11\.0/.test(e)||a.m&&!/\.google\./.test(a.m)||0<=d.indexOf("zCommon")||0<=d.indexOf("887a0005")||!c&&("Script error"===d||"Script error."===d)||-1!==d.indexOf("Not enough storage is available to complete this operation.")||0<=d.indexOf("ArrayBuffer length minus the")||d.match(/new RegExp.*ludo_cid/)||0<=d.indexOf("Cannot read property 'mute' of null")||0<=d.indexOf("can't access dead object"))return!0;a=b.file||"";if(a.match(/^(chrome|moz|safari)-extension:/)||
a.match(/> eval$/))return!0;c=b.stack;for(e=0;e<c.length;++e)if(c[e].match(/phantomjs/i))return!0;if(0<=d.indexOf("JSON syntax error")&&a&&!(0<=a.indexOf("/maps")))return!0;if(b=b.stackUrls)for(d=0;d<b.length;++d)if(a=b[d],0===a.indexOf("resource://")||0===a.indexOf("chrome-extension://")||0===a.indexOf("https://")&&8!==a.indexOf("www.google")&&8!==a.indexOf("maps.gstatic")&&8!==a.indexOf("www.gstatic")&&8!==a.indexOf("apis.google"))return!0;return!1},J=function(a,b,c,d,e){var k=b&&"object"===typeof b?b.message:b,f=a.l.get(k);if(f)f&&k.length>f.message.length&&(f.message=k);else if(f=L(a,k),G(f)){var h=O(a,b,c,d,f,e);P(a,h);a.l.set(k,h);x.setTimeout(function(){a.g&&a.g(h);a.o||Q(a,h);delete a.l.g[I(k)]},0)}},P=function(a,b){var c=b.message+"\n";for(var d=0,e=b.stack.length;d<e;++d)c+=b.stack[d]+"\n";d=0;for(e=b.stackUrls.length;d<e;++d)c+=".."+d+"..="+b.stackUrls[d]+"\n";a.i||(a.i=c);a.s=c},Q=function(a,b){if(a.j){var c=2;b.count&&1<b.count&&c++;var d=4;b.file&&d++;b.line&&d++;b.stack&&(d+=b.stack.length);void 0!==b.stackTruncation&&0<b.stackTruncation&&d++;b.stackUrls&&(d+=b.stackUrls.length);var e=[];e.push("!8m");e.push(""+(c+d));e.push("!2e6");b.count&&1<b.count&&(e.push("!7i"),e.push(b.count));e.push("!9m");e.push(""+d);e.push("!1s");e.push(R(b.message));b.file&&(e.push("!2s"),e.push(R(b.file)));b.line&&(e.push("!3i"),e.push(b.line));if(b.stack)for(c=0,d=b.stack.length;c<d;++c)e.push("!4s"),e.push(R(b.stack[c]));e.push("!6s");e.push(R(a.B));e.push("!8e"+b.errorType);void 0!==b.stackTruncation&&0<b.stackTruncation&&(e.push("!9i"),e.push(b.stackTruncation));if(b.stackUrls)for(c=0,d=b.stackUrls.length;c<d;c++)e.push("!10s"),e.push(R(b.stackUrls[c]));e.push("!11s");e.push(R(a.A));e.push("!11m1");e.push("!7e");e.push(String(a.v||0));var k=""+a.j+(0<=a.j.indexOf("?")?"&":"?")+"pb="+e.join("");if(a.u)(a=x.console)&&a.log.call(a,k);else{var f=x.XMLHttpRequest&&new XMLHttpRequest;f&&x.setTimeout(function(){f.open("GET",k,!0);f.send(null)},0)}}},R=function(a){a=a||"";0<a.indexOf("*")&&(a=a.replace(S,"*2A"));0<a.indexOf("!")&&(a=a.replace(T,"*21"));return encodeURIComponent(a)},M=function(a,b){return{message:a?a.slice(0,400):"",file:"",line:0,stack:[],stackUrls:[],errorType:void 0===b?1:b}},T=RegExp("(!)","g"),S=RegExp("(\\*)","g");if("undefined"===typeof globals||void 0===globals.ErrorHandler){var U=new K,V=function(a,b){return U.log(a,b)};x._DumpException=V;y("globals.ErrorHandler",{listen:function(a){U.listen(a)},log:V,ne:M,dr:function(){U.o=!0},fe:function(){return U.i},mre:function(){return U.s}});y("_._DumpException",V,x)};}).call(this);
  </script>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">
   window._ = window._ || {};window._._DumpException = function(e){throw globals.ErrorHandler.log(e);};window._DumpException = function(e){throw globals.ErrorHandler.log(e);};
  </script>
  <link href="//www.google.com/images/branding/product/ico/maps15_bnuw3a_32dp.ico" rel="shortcut icon"/>
  <script nonce="KbYhVTj1SFx76P-bcHAHVA">

In [3]:
from bs4 import BeautifulSoup as bs

In [4]:
import requests

In [5]:
url="https://www.flipkart.com/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&lid=LSTCOMFZHZFZFFBJBHH7WNMPE&marketplace=FLIPKART"
r=requests.get(url)

htmlcontain=r.content
print(htmlcontain)

b'<!doctype html><html lang="en"><head><link href="https://rukminim1.flixcart.com" rel="preconnect"/><link rel="stylesheet" href="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/css/app_modules.chunk.905c37.css"/><link rel="stylesheet" href="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/css/app.chunk.4fb0ab.css"/><meta http-equiv="Content-type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=Edge"/><meta property="fb:page_id" content="102988293558"/><meta property="fb:admins" content="658873552,624500995,100000233612389"/><meta name="robots" content="noodp"/><link rel="shortcut icon" href="https:///www/promos/new/20150528-140547-favicon-retina.ico"/><link type="application/opensearchdescription+xml" rel="search" href="/osdd.xml?v=2"/><meta property="og:type" content="website"/><meta name="og_site_name" property="og:site_name" content="Flipkart.com"/><link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/><link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"/><link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"/><link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"/><link rel="apple-touch-icon" href="/apple-touch-icon-57x57.png"/><meta name="twitter:card" content="app"><meta name="twitter:site" content="@flipkart"><meta name="twitter:creator" content="@flipkart"><meta name="twitter:title" content="Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com"><meta name="twitter:description" content="Shop for electronics, apparels & more using our Flipkart app Free shipping & COD."><meta name="twitter:app:country" content="in"><meta name="al:ios:app_name" content="Flipkart"><meta name="al:ios:app_store_id" content="742044692"><meta name="twitter:app:name:iphone" content="Flipkart"><meta name="twitter:app:id:iphone" content="742044692"><meta name="twitter:app:url:iphone" content="http://dl.flipkart.com/dl/home?"><meta name="twitter:app:name:ipad" content="Flipkart"><meta name="twitter:app:id:ipad" content="742044692"><meta name="twitter:app:url:ipad" content="http://dl.flipkart.com/dl/home?"><meta name="twitter:app:name:googleplay" content="Flipkart"><meta name="twitter:app:id:googleplay" content="com.flipkart.android"><meta name="twitter:app:url:googleplay" content="http://dl.flipkart.com/dl/home?"><style>#container {\n\t\t\theight: 100%;\n\t\t}</style>  <link rel="stylesheet" href="///fk-cp-zion/css/AllReviewsPage.chunk.9b07d6.css"/><title>Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com</title><meta name="og_title" property="og:title" content="Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com"/><meta name="Keywords" content="Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews"/> <meta name="Description" content="Read Latest Reviews of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop on Flipkart.com. Find genuine customer reviews and ratings. Buy Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop at best prices on Flipkart.com."/><meta property="og:description" content="Read Latest Reviews of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop on Flipkart.com. Find genuine customer reviews and ratings. Buy Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop at best prices on Flipkart.com."/>  <link rel="canonical" href="http://www.flipkart.com/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid&#x3D;COMFZHZFZFFBJBHH"/>     <meta name="og_url" property="og:url" content="http://www.flipkart.com/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid&#x3D;COMFZHZFZFFBJBHH"/><meta name="msvalidate.01" content="F4EEB3A0AFFDD385992A06E6920C0AC3"/> <!--[if IE 9 ]>\n\t<script nonce="7017513718331170544">\n\t\twindow.browserVersion = \'IE9\';\n\t\tdocument.documentElement.className += \' ie9\';\n\t</script>\n\t<![endif]--><!--[if !IE]><!--><script nonce="7017513718331170544">if (/*@cc_on!@*/false) {\n\t\t\twindow.browserVersion = \'IE10\';\n\t\t\tdocument.documentElement.className += \' ie10\';\n\t\t}</script><!--<![endif]-->   <script nonce="7017513718331170544">!function(){if("PerformancePaintTiming" in window){var e=window.__perf={e:[]};e.o=new PerformanceObserver(function(n){e.e=e.e.concat(n.getEntries())});try{e.o.observe({entryTypes:["paint"]})}catch(e){}}}();\n\n\t\tif (requestAnimationFrame && performance && performance.mark) {\n\t\t\trequestAnimationFrame(function () {\n\t\t\t\twindow.first_paint = performance.now();\n\t\t\t\tperformance.mark("first_paint");\n\t\t\t});\n\t\t}\n\n        // web-vitals polyfill for FID\n        !function(n,e){var t,o,i,c=[],f={passive:!0,capture:!0},r=new Date,a="pointerup",u="pointercancel";function p(n,c){t||(t=c,o=n,i=new Date,w(e),s())}function s(){o>=0&&o<i-r&&(c.forEach(function(n){n(o,t)}),c=[])}function l(t){if(t.cancelable){var o=(t.timeStamp>1e12?new Date:performance.now())-t.timeStamp;"pointerdown"==t.type?function(t,o){function i(){p(t,o),r()}function c(){r()}function r(){e(a,i,f),e(u,c,f)}n(a,i,f),n(u,c,f)}(o,t):p(o,t)}}function w(n){["click","mousedown","keydown","touchstart","pointerdown"].forEach(function(e){n(e,l,f)})}w(n),self.perfMetrics=self.perfMetrics||{},self.perfMetrics.onFirstInputDelay=function(n){c.push(n),s()}}(addEventListener,removeEventListener);</script><script async src="https://www.googletagmanager.com/gtag/js?id=AW-594691041"></script><script nonce="7017513718331170544">window.dataLayer = window.dataLayer || [];\n\t\tfunction gtag(){dataLayer.push(arguments)};\n\t\tgtag(\'js\', new Date());</script></head><body><div id="container"><div><div class="_1kfTjk"><div class="_1rH5Jn"><div class="_1TmfNK"></div><div class="_2Xfa2_"><div class="_3_C9Hx"><div class="_3qX0zy"><a href="/"><img width="75" src="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png" alt="Flipkart" title="Flipkart" class="_2xm1JU"/></a><a class="_21ljIi" href="/plus">Explore<!-- --> <span class="_2FVHGh">Plus</span><img width="10" src="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/plus_aef861.png"/></a></div></div><div class="_1cmsER"><form class="_2M8cLY header-form-search" action="/search" method="GET"><div class="col-12-12 _2oO9oE"><div class="_3OO5Xc"><input type="text" value="" class="_3704LK" title="Search for products, brands and more" name="q" autoComplete="off" placeholder="Search for products, brands and more"/></div><button class="L0Z3Pu" type="submit"><svg width="20" height="20" viewBox="0 0 17 18" class="" xmlns="http://www.w3.org/2000/svg"><g fill="#2874F1" fill-rule="evenodd"><path class="_34RNph" d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203"></path><path class="_34RNph" d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467"></path></g></svg></button><input type="hidden" name="otracker" value="search"/><input type="hidden" name="otracker1" value="search"/><input type="hidden" name="marketplace" value="FLIPKART"/><input type="hidden" name="as-show" value="off"/><input type="hidden" name="as" value="off"/></div><ul class="col-12-12 _1MRYA1"></ul></form></div><div class="go_DOp _2errNR"><div class="_28p97w"><div class="_1psGvi _3BvnxG"><div><a class="_1_3w1N" href="/account/login?ret=/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6%3Fpid%3DCOMFZHZFZFFBJBHH%26lid%3DLSTCOMFZHZFZFFBJBHH7WNMPE%26marketplace%3DFLIPKART">Login</a></div></div></div></div><div class="go_DOp"><a href="https://seller.flipkart.com/sell-online/?utm_source=fkwebsite&amp;utm_medium=websitedirect" class="_3-PJz-"><span>Become a Seller</span></a></div><div class="go_DOp"><div class="_28p97w"><div class="_1psGvi _3BvnxG"><div><div class="exehdJ"> <!-- -->More<!-- --> </div></div></div><svg width="4.7" height="8" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="zZ3yfL"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_2gTTdy"></path></svg></div></div><div class="go_DOp"><div class="_1psGvi"><div class="YUhWwv"><a class="_3SkBxJ" href="/viewcart?exploreMode=true&amp;preference=FLIPKART"><svg class="V3C5bO" width="14" height="14" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path class="_1bS9ic" d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86" fill="#fff"></path></svg><span>Cart</span></a></div></div></div></div><div class="_1TmfNK"></div></div><div class="_1mUdNz"></div></div><div class="_331-kn"></div><div class="_2tsNFb"><div class="_6t1WkM _3HqJxg"><div class="_1YokD2 _2GoDe3 col-12-12"><div class="_1YokD2 _3Mn1Gg col-3-12" style="border-right:1px solid #f0f0f0"><div class="_1AtVbE col-12-12"><div class="_4ddWXP _3BCh3_ _G-HdA"><a class="_2rpwqI" title="HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop" target="_blank" rel="noopener noreferrer" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/p/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;fm=organic&amp;ppt=None&amp;ppn=None&amp;ssid=nb8wejbogg0000001682518370140"><div class="_28_T72"><div><div class="CXW8mj" style="height:246px;width:246px"><img loading="eager" class="_396cs4" alt="HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop" src="https://rukminim1.flixcart.com/image/312/312/kk76wsw0/computer/8/2/2/hp-original-imafzhsyh6qaydrz.jpeg?q=70"/></div></div></div></a><div><div><a title="HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop" class="s1Q9rs _2qfgz2" target="_blank" rel="noopener noreferrer" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/p/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;fm=organic&amp;ppt=None&amp;ppn=None&amp;ssid=nb8wejbogg0000001682518370140">HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Hom...</a></div><div class="gUuXy-"><span id="productRating_LSTCOMFZHZFZFFBJBHH7WNMPE_COMFZHZFZFFBJBHH_" class="_1lRcqv"><div class="_3LWZlK">3.8<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==" class="_1wB99o"/></div></span><span class="_2_R_DZ"><span><span>1,609 Ratings\xc2\xa0</span><span class="_13vcmD">&amp;</span><span>\xc2\xa0218 Reviews</span></span></span></div><div class="_8VNy32 lnJjg0"><div class="_25b18c"><div class="_30jeq3">\xe2\x82\xb932,990</div><div class="_3I9_wc">\xe2\x82\xb9<!-- -->34,480</div><div class="_3Ay6Sb"><span>4% off</span></div></div></div></div></div></div><div class="_1AtVbE col-12-12" style="border-top:1px solid #f0f0f0"><div class="_1LsTqa"><div class="jEaykx"><span>User Images</span></div><div class="_2nMSwX _2ajiBF"><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_27608966d1084865a889246c1c61951e.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_fdd6cfde43ed4d52ae2f5d75c9318647.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_1921e3b49e424ab6abfb24462c02d1c8.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_a012684e75274c81923f60560eb6354b.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_5ed4e0906678432fa30e5ad61a5e2e6c.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_aa8be26824314b2bab4d33c4626faac3.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_1160a428fabe42269d5d47166c4b1516.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"></div><div class="_21YjFX _3NGqA1 RU6t0j" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_93955492db044b48920e88c9119f6e67.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px"><span class="_380ehC">+ <!-- -->28</span></div></div></div></div></div><div class="_1YokD2 _3Mn1Gg col-9-12"><div class="_1YokD2 _3Mn1Gg col-12-12" style="border-bottom:1px solid #f0f0f0"><div class="_1YokD2 _2GoDe3 col-12-12"><div class="_1AtVbE col-10-12"><div class="_2s4DIt _1CDdy2">HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop Reviews</div></div><div class="_1AtVbE" style="flex-grow:1;overflow:initital"><div class="gEkCyh"><div class="_3uXCGr"><div class="_2ECNXS"><div class="_1cpOwe tVKh2S"><select class="_1EDlbo tVKh2S" name="sortFilter"><option selected="" value="MOST_HELPFUL">Most Helpful</option><option value="MOST_RECENT">Most Recent</option><option value="POSITIVE_FIRST">Positive First</option><option value="NEGATIVE_FIRST">Negative First</option></select><span class="_2NY3xT _2VZJIQ"></span></div></div></div></div></div></div><div class="_1AtVbE col-12-12"><div class="_33iqLu"><div><a class="_203_Tp" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;lid=LSTCOMFZHZFZFFBJBHH7WNMPE&amp;sortOrder=MOST_HELPFUL&amp;certifiedBuyer=false&amp;aid=overall"><span class="_1YKVER _203_Tp">Overall</span></a><a class="" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;lid=LSTCOMFZHZFZFFBJBHH7WNMPE&amp;sortOrder=MOST_HELPFUL&amp;certifiedBuyer=false&amp;aid=bb0d522c-0d71-4218-bf8d-59f4f6d9619b"><span class="_1YKVER">Performance</span></a><a class="" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;lid=LSTCOMFZHZFZFFBJBHH7WNMPE&amp;sortOrder=MOST_HELPFUL&amp;certifiedBuyer=false&amp;aid=f2b10aa8-b719-4f2e-b49e-38056d41a9a5"><span class="_1YKVER">Battery</span></a><a class="" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;lid=LSTCOMFZHZFZFFBJBHH7WNMPE&amp;sortOrder=MOST_HELPFUL&amp;certifiedBuyer=false&amp;aid=a785ae91-3171-460c-a347-e08ec6e4

In [6]:
soup=bs(htmlcontain,"html.parser")
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="https://rukminim1.flixcart.com" rel="preconnect"/>
  <link href="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/css/app_modules.chunk.905c37.css" rel="stylesheet"/>
  <link href="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/css/app.chunk.4fb0ab.css" rel="stylesheet"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
  <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
  <meta content="102988293558" property="fb:page_id"/>
  <meta content="658873552,624500995,100000233612389" property="fb:admins"/>
  <meta content="noodp" name="robots"/>
  <link href="https:///www/promos/new/20150528-140547-favicon-retina.ico" rel="shortcut icon"/>
  <link href="/osdd.xml?v=2" rel="search" type="application/opensearchdescription+xml"/>
  <meta content="website" property="og:type"/>
  <meta content="Flipkart.com" name="og_site_name" property="og:site_name"/>
  <link href="/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/apple-touch-icon-57x57.png" rel="apple-touch-icon"/>
  <meta content="app" name="twitter:card"/>
  <meta content="@flipkart" name="twitter:site"/>
  <meta content="@flipkart" name="twitter:creator"/>
  <meta content="Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com" name="twitter:title"/>
  <meta content="Shop for electronics, apparels &amp; more using our Flipkart app Free shipping &amp; COD." name="twitter:description"/>
  <meta content="in" name="twitter:app:country"/>
  <meta content="Flipkart" name="al:ios:app_name"/>
  <meta content="742044692" name="al:ios:app_store_id"/>
  <meta content="Flipkart" name="twitter:app:name:iphone"/>
  <meta content="742044692" name="twitter:app:id:iphone"/>
  <meta content="http://dl.flipkart.com/dl/home?" name="twitter:app:url:iphone"/>
  <meta content="Flipkart" name="twitter:app:name:ipad"/>
  <meta content="742044692" name="twitter:app:id:ipad"/>
  <meta content="http://dl.flipkart.com/dl/home?" name="twitter:app:url:ipad"/>
  <meta content="Flipkart" name="twitter:app:name:googleplay"/>
  <meta content="com.flipkart.android" name="twitter:app:id:googleplay"/>
  <meta content="http://dl.flipkart.com/dl/home?" name="twitter:app:url:googleplay"/>
  <style>
   #container {
			height: 100%;
		}
  </style>
  <link href="///fk-cp-zion/css/AllReviewsPage.chunk.9b07d6.css" rel="stylesheet"/>
  <title>
   Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com
  </title>
  <meta content="Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com" name="og_title" property="og:title">
   <meta content="Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews" name="Keywords">
    <meta content="Read Latest Reviews of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop on Flipkart.com. Find genuine customer reviews and ratings. Buy Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop at best prices on Flipkart.com." name="Description">
     <meta content="Read Latest Reviews of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop on Flipkart.com. Find genuine customer reviews and ratings. Buy Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop at best prices on Flipkart.com." property="og:description">
      <link href="http://www.flipkart.com/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH" rel="canonical"/>
      <meta content="http://www.flipkart.com/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH" name="og_url" property="og:url">
       <meta content="F4EEB3A0AFFDD385992A06E6920C0AC3" name="msvalidate.01">
        <!--[if IE 9 ]>
	<script nonce="7017513718331170544">
		window.browserVersion = 'IE9';
		document.documentElement.className += ' ie9';
	</script>
	<![endif]-->
        <!--[if !IE]><!-->
        <script nonce="7017513718331170544">
         if (/*@cc_on!@*/false) {
			window.browserVersion = 'IE10';
			document.documentElement.className += ' ie10';
		}
        </script>
        <!--<![endif]-->
        <script nonce="7017513718331170544">
         !function(){if("PerformancePaintTiming" in window){var e=window.__perf={e:[]};e.o=new PerformanceObserver(function(n){e.e=e.e.concat(n.getEntries())});try{e.o.observe({entryTypes:["paint"]})}catch(e){}}}();

		if (requestAnimationFrame && performance && performance.mark) {
			requestAnimationFrame(function () {
				window.first_paint = performance.now();
				performance.mark("first_paint");
			});
		}

        // web-vitals polyfill for FID
        !function(n,e){var t,o,i,c=[],f={passive:!0,capture:!0},r=new Date,a="pointerup",u="pointercancel";function p(n,c){t||(t=c,o=n,i=new Date,w(e),s())}function s(){o>=0&&o<i-r&&(c.forEach(function(n){n(o,t)}),c=[])}function l(t){if(t.cancelable){var o=(t.timeStamp>1e12?new Date:performance.now())-t.timeStamp;"pointerdown"==t.type?function(t,o){function i(){p(t,o),r()}function c(){r()}function r(){e(a,i,f),e(u,c,f)}n(a,i,f),n(u,c,f)}(o,t):p(o,t)}}function w(n){["click","mousedown","keydown","touchstart","pointerdown"].forEach(function(e){n(e,l,f)})}w(n),self.perfMetrics=self.perfMetrics||{},self.perfMetrics.onFirstInputDelay=function(n){c.push(n),s()}}(addEventListener,removeEventListener);
        </script>
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-594691041">
        </script>
        <script nonce="7017513718331170544">
         window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());
        </script>
       </meta>
      </meta>
     </meta>
    </meta>
   </meta>
  </meta>
 </head>
 <body>
  <div id="container">
   <div>
    <div class="_1kfTjk">
     <div class="_1rH5Jn">
      <div class="_1TmfNK">
      </div>
      <div class="_2Xfa2_">
       <div class="_3_C9Hx">
        <div class="_3qX0zy">
         <a href="/">
          <img alt="Flipkart" class="_2xm1JU" src="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png" title="Flipkart" width="75"/>
         </a>
         <a class="_21ljIi" href="/plus">
          Explore
          <!-- -->
          <span class="_2FVHGh">
           Plus
          </span>
          <img src="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/plus_aef861.png" width="10"/>
         </a>
        </div>
       </div>
       <div class="_1cmsER">
        <form action="/search" class="_2M8cLY header-form-search" method="GET">
         <div class="col-12-12 _2oO9oE">
          <div class="_3OO5Xc">
           <input autocomplete="off" class="_3704LK" name="q" placeholder="Search for products, brands and more" title="Search for products, brands and more" type="text" value=""/>
          </div>
          <button class="L0Z3Pu" type="submit">
           <svg class="" height="20" viewbox="0 0 17 18" width="20" xmlns="http://www.w3.org/2000/svg">
            <g fill="#2874F1" fill-rule="evenodd">
             <path class="_34RNph" d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203">
             </path>
             <path class="_34RNph" d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467">
             </path>
            </g>
           </svg>
          </button>
          <input name="otracker" type="hidden" value="search"/>
          <input name="otracker1" type="hidden" value="search"/>
          <input name="marketplace" type="hidden" value="FLIPKART"/>
          <input name="as-show" type="hidden" value="off"/>
          <input name="as" type="hidden" value="off"/>
         </div>
         <ul class="col-12-12 _1MRYA1">
         </ul>
        </form>
       </div>
       <div class="go_DOp _2errNR">
        <div class="_28p97w">
         <div class="_1psGvi _3BvnxG">
          <div>
           <a class="_1_3w1N" href="/account/login?ret=/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/product-reviews/itmdbb2d234797b6%3Fpid%3DCOMFZHZFZFFBJBHH%26lid%3DLSTCOMFZHZFZFFBJBHH7WNMPE%26marketplace%3DFLIPKART">
            Login
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="go_DOp">
        <a class="_3-PJz-" href="https://seller.flipkart.com/sell-online/?utm_source=fkwebsite&amp;utm_medium=websitedirect">
         <span>
          Become a Seller
         </span>
        </a>
       </div>
       <div class="go_DOp">
        <div class="_28p97w">
         <div class="_1psGvi _3BvnxG">
          <div>
           <div class="exehdJ">
            <!-- -->
            More
            <!-- -->
           </div>
          </div>
         </div>
         <svg class="zZ3yfL" height="8" viewbox="0 0 16 27" width="4.7" xmlns="http://www.w3.org/2000/svg">
          <path class="_2gTTdy" d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff">
          </path>
         </svg>
        </div>
       </div>
       <div class="go_DOp">
        <div class="_1psGvi">
         <div class="YUhWwv">
          <a class="_3SkBxJ" href="/viewcart?exploreMode=true&amp;preference=FLIPKART">
           <svg class="V3C5bO" height="14" viewbox="0 0 16 16" width="14" xmlns="http://www.w3.org/2000/svg">
            <path class="_1bS9ic" d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86" fill="#fff">
            </path>
           </svg>
           <span>
            Cart
           </span>
          </a>
         </div>
        </div>
       </div>
      </div>
      <div class="_1TmfNK">
      </div>
     </div>
     <div class="_1mUdNz">
     </div>
    </div>
    <div class="_331-kn">
    </div>
    <div class="_2tsNFb">
     <div class="_6t1WkM _3HqJxg">
      <div class="_1YokD2 _2GoDe3 col-12-12">
       <div class="_1YokD2 _3Mn1Gg col-3-12" style="border-right:1px solid #f0f0f0">
        <div class="_1AtVbE col-12-12">
         <div class="_4ddWXP _3BCh3_ _G-HdA">
          <a class="_2rpwqI" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/p/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;fm=organic&amp;ppt=None&amp;ppn=None&amp;ssid=nb8wejbogg0000001682518370140" rel="noopener noreferrer" target="_blank" title="HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop">
           <div class="_28_T72">
            <div>
             <div class="CXW8mj" style="height:246px;width:246px">
              <img alt="HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop" class="_396cs4" loading="eager" src="https://rukminim1.flixcart.com/image/312/312/kk76wsw0/computer/8/2/2/hp-original-imafzhsyh6qaydrz.jpeg?q=70"/>
             </div>
            </div>
           </div>
          </a>
          <div>
           <div>
            <a class="s1Q9rs _2qfgz2" href="/hp-15s-ryzen-3-dual-core-3250u-4-gb-1-tb-hdd-windows-10-home-15s-gr0006au-thin-light-laptop/p/itmdbb2d234797b6?pid=COMFZHZFZFFBJBHH&amp;fm=organic&amp;ppt=None&amp;ppn=None&amp;ssid=nb8wejbogg0000001682518370140" rel="noopener noreferrer" target="_blank" title="HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Home) 15s-GR0006AU Thin and Light Laptop">
             HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HDD/Windows 10 Hom...
            </a>
           </div>
           <div class="gUuXy-">
            <span class="_1lRcqv" id="productRating_LSTCOMFZHZFZFFBJBHH7WNMPE_COMFZHZFZFFBJBHH_">
             <div class="_3LWZlK">
              3.8
              <img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/>
             </div>
            </span>
            <span class="_2_R_DZ">
             <span>
              <span>
               1,609 Ratings
              </span>
              <span class="_13vcmD">
               &amp;
              </span>
              <span>
               218 Reviews
              </span>
             </span>
            </span>
           </div>
           <div class="_8VNy32 lnJjg0">
            <div class="_25b18c">
             <div class="_30jeq3">
              ₹32,990
             </div>
             <div class="_3I9_wc">
              ₹
              <!-- -->
              34,480
             </div>
             <div class="_3Ay6Sb">
              <span>
               4% off
              </span>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="_1AtVbE col-12-12" style="border-top:1px solid #f0f0f0">
         <div class="_1LsTqa">
          <div class="jEaykx">
           <span>
            User Images
           </span>
          </div>
          <div class="_2nMSwX _2ajiBF">
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_27608966d1084865a889246c1c61951e.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_fdd6cfde43ed4d52ae2f5d75c9318647.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_1921e3b49e424ab6abfb24462c02d1c8.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_a012684e75274c81923f60560eb6354b.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202104/blobio-imr-202104_5ed4e0906678432fa30e5ad61a5e2e6c.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_aa8be26824314b2bab4d33c4626faac3.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>
           <div class="_21YjFX _3NGqA1" style="background-image:url(https://rukminim1.flixcart.com/blobio/140/140/imr-202103/blobio-imr-202103_1160a428fabe42269d5d47166c4b1516.jpg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:70px;height:70px">
           </div>

### Title of the product

In [7]:
title=soup.title
print(title)

<title>Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com</title>

In [8]:
print(title.string)

Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop Reviews: Latest Review of Hp 15s Ryzen 3 Dual Core 3250u 4 Gb 1 Tb Hdd Windows 10 Home 15s Gr0006au Thin Light Laptop | Price in India | Flipkart.com

In [9]:
price=soup.find_all("div",class_="_30jeq3")
print(price[0].string)

₹32,990

In [10]:
prod_price=[]

for prices in range(0,len(price)):
    prod_price.append(price[prices].get_text())
print(prod_price)

['₹32,990']

In [11]:
cust_name=soup.find_all("p",class_="_2sc7ZR _2V5EHH")
print(cust_name)

[<p class="_2sc7ZR _2V5EHH">Vaibhav Bharati</p>, <p class="_2sc7ZR _2V5EHH">MD MATHIN ALI</p>, <p class="_2sc7ZR _2V5EHH">Sayani  Banerjee </p>, <p class="_2sc7ZR _2V5EHH">Satyajit Swain</p>, <p class="_2sc7ZR _2V5EHH">Vijay Singh  Shekhawat</p>, <p class="_2sc7ZR _2V5EHH">Anoop Mathew</p>, <p class="_2sc7ZR _2V5EHH">Vivek Raturi</p>, <p class="_2sc7ZR _2V5EHH">Anand Amirtharaj</p>, <p class="_2sc7ZR _2V5EHH">Flipkart Customer</p>, <p class="_2sc7ZR _2V5EHH">Shivani  Pankaj</p>]

In [12]:
cust_list=[]
for i in range(0,len(cust_name)):
    cust_list.append(cust_name[i].get_text())
print(cust_list)

['Vaibhav Bharati', 'MD MATHIN ALI', 'Sayani  Banerjee ', 'Satyajit Swain', 'Vijay Singh  Shekhawat', 'Anoop Mathew', 'Vivek Raturi', 'Anand Amirtharaj', 'Flipkart Customer', 'Shivani  Pankaj']

In [13]:
review_title=soup.find_all("p",class_="_2-N8zT")
print(review_title)

[<p class="_2-N8zT">Very Good</p>, <p class="_2-N8zT">Terrific</p>, <p class="_2-N8zT">Worth every penny</p>, <p class="_2-N8zT">Fair</p>, <p class="_2-N8zT">Fair</p>, <p class="_2-N8zT">Just wow!</p>, <p class="_2-N8zT">Good</p>, <p class="_2-N8zT">Wonderful</p>, <p class="_2-N8zT">Very Good</p>, <p class="_2-N8zT">Nice product</p>]

In [14]:
review_list=[]
for i in range(0,len(review_title)):
    review_list.append(review_title[i].get_text())
print(review_list)

['Very Good', 'Terrific', 'Worth every penny', 'Fair', 'Fair', 'Just wow!', 'Good', 'Wonderful', 'Very Good', 'Nice product']

In [15]:
for i in review_list:
    print(i)

Very Good
Terrific
Worth every penny
Fair
Fair
Just wow!
Good
Wonderful
Very Good
Nice product

In [16]:
star=soup.find_all("div",class_="_3LWZlK _1BLPMq")
print(star)

[<div class="_3LWZlK _1BLPMq">4<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">4<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">4<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>, <div class="_3LWZlK _1BLPMq">4<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>]

In [17]:
cust_star=[]
for i in range(0,len(star)):
    cust_star.append(star[i].get_text())
print(cust_star)

['4', '5', '5', '3', '3', '5', '3', '4', '4', '4']

In [18]:
cust_comt=soup.find_all("div",class_="t-ZTKy")
print(cust_comt)

[<div class="t-ZTKy"><div><div class="">Read carefully.. My Experience was complicated just because of boot time i.e. on/off time was too long until I didn't go for updates but once I have done all updates... I am telling you guys...Maska..hai.. Maska..<br/><br/>Superb performance.. and look wise i liked it very much. I use to play GT racing without any lag..<br/><br/>My daughter is also happy for her online studies.<br/><br/>My suggestion is that don't think twice just go for it with Flipkart.<br/><br/>Thanks flipkart for very safe and on time delivery.</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">#Price up to mark<br/>Its wonderful product for those ,who looking for  student and domestic work<br/><br/>1)Its just my dream lappi,(laptop)<br/>2)just go for laptop,its really awesome<br/>3)I just bought it for my project and bussiness work it's awesome<br/>4)one of the best product from HP<br/>5)just price is little high ,it have to be reduced<br/>6) I loved it<br/>7) I recommend it for u,💯💯❤️</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">Nice laptop and Ryzen 3 is a good processor for multi tasking... Design and color both are good. It's better to go with this HP laptop in this price segment...</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">This laptop needs to be upgraded to at least 8 gb memory for better performance as most of HP bloatware that comes with the windows build use almost 80% of ram all the time. Besides the built in vega gpu shares Ram as it does not have dedicated graphics memory. An SSD upgrade and booting the OS in there should do wonders to the disk I/O and overall performance. Out of the box, laptop is sluggish so 3 stars.</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">HP Product is Good/Ok, but personally i will prefer Dell Laptop. Dell Laptop is best &amp; friendly for smooth process<br/>&amp; I thing i3 is better comparison to Rayzen 3.</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">Awesome and nice for students and all. The favorite things is its comes with Windows and office home and student precious.</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">Do not expect much :<br/>1)Very slow takes a lot of time just open a browser.<br/>2)Design is good  <br/>3)Battery backup ok.<br/>if you want to do basic editing and some gaming then go for atleast 8 GB ram and 4 core processor .</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">Compare to i3, ryzen 3 is far better in performance with 4gb ram, full Battery charged still works more than 6 hrs... No heating problem.. Display only not bad quality, rest of them are worth for this amount</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">Very nice product finishing is very good.</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>, <div class="t-ZTKy"><div><div class="">This laptop is very light weight and I am happy!! 🙂🙂</div><span class="_1H-bmy"><span>READ MORE</span></span></div></div>]

In [19]:
cust_comts=[]
for i in range(0,len(cust_comt)):
    cust_comts.append(cust_comt[i].get_text())
print(cust_comts)

["Read carefully.. My Experience was complicated just because of boot time i.e. on/off time was too long until I didn't go for updates but once I have done all updates... I am telling you guys...Maska..hai.. Maska..Superb performance.. and look wise i liked it very much. I use to play GT racing without any lag..My daughter is also happy for her online studies.My suggestion is that don't think twice just go for it with Flipkart.Thanks flipkart for very safe and on time delivery.READ MORE", "#Price up to markIts wonderful product for those ,who looking for  student and domestic work1)Its just my dream lappi,(laptop)2)just go for laptop,its really awesome3)I just bought it for my project and bussiness work it's awesome4)one of the best product from HP5)just price is little high ,it have to be reduced6) I loved it7) I recommend it for u,💯💯❤️READ MORE", "Nice laptop and Ryzen 3 is a good processor for multi tasking... Design and color both are good. It's better to go with this HP laptop in this price segment...READ MORE", 'This laptop needs to be upgraded to at least 8 gb memory for better performance as most of HP bloatware that comes with the windows build use almost 80% of ram all the time. Besides the built in vega gpu shares Ram as it does not have dedicated graphics memory. An SSD upgrade and booting the OS in there should do wonders to the disk I/O and overall performance. Out of the box, laptop is sluggish so 3 stars.READ MORE', 'HP Product is Good/Ok, but personally i will prefer Dell Laptop. Dell Laptop is best & friendly for smooth process& I thing i3 is better comparison to Rayzen 3.READ MORE', 'Awesome and nice for students and all. The favorite things is its comes with Windows and office home and student precious.READ MORE', 'Do not expect much :1)Very slow takes a lot of time just open a browser.2)Design is good  3)Battery backup ok.if you want to do basic editing and some gaming then go for atleast 8 GB ram and 4 core processor .READ MORE', 'Compare to i3, ryzen 3 is far better in performance with 4gb ram, full Battery charged still works more than 6 hrs... No heating problem.. Display only not bad quality, rest of them are worth for this amountREAD MORE', 'Very nice product finishing is very good.READ MORE', 'This laptop is very light weight and I am happy!! 🙂🙂READ MORE']

In [20]:
for i in cust_comts:
    print(i,end='')

Read carefully.. My Experience was complicated just because of boot time i.e. on/off time was too long until I didn't go for updates but once I have done all updates... I am telling you guys...Maska..hai.. Maska..Superb performance.. and look wise i liked it very much. I use to play GT racing without any lag..My daughter is also happy for her online studies.My suggestion is that don't think twice just go for it with Flipkart.Thanks flipkart for very safe and on time delivery.READ MORE#Price up to markIts wonderful product for those ,who looking for  student and domestic work1)Its just my dream lappi,(laptop)2)just go for laptop,its really awesome3)I just bought it for my project and bussiness work it's awesome4)one of the best product from HP5)just price is little high ,it have to be reduced6) I loved it7) I recommend it for u,💯💯❤️READ MORENice laptop and Ryzen 3 is a good processor for multi tasking... Design and color both are good. It's better to go with this HP laptop in this price segment...READ MOREThis laptop needs to be upgraded to at least 8 gb memory for better performance as most of HP bloatware that comes with the windows build use almost 80% of ram all the time. Besides the built in vega gpu shares Ram as it does not have dedicated graphics memory. An SSD upgrade and booting the OS in there should do wonders to the disk I/O and overall performance. Out of the box, laptop is sluggish so 3 stars.READ MOREHP Product is Good/Ok, but personally i will prefer Dell Laptop. Dell Laptop is best & friendly for smooth process& I thing i3 is better comparison to Rayzen 3.READ MOREAwesome and nice for students and all. The favorite things is its comes with Windows and office home and student precious.READ MOREDo not expect much :1)Very slow takes a lot of time just open a browser.2)Design is good  3)Battery backup ok.if you want to do basic editing and some gaming then go for atleast 8 GB ram and 4 core processor .READ MORECompare to i3, ryzen 3 is far better in performance with 4gb ram, full Battery charged still works more than 6 hrs... No heating problem.. Display only not bad quality, rest of them are worth for this amountREAD MOREVery nice product finishing is very good.READ MOREThis laptop is very light weight and I am happy!! 🙂🙂READ MORE

## Applying Tabular data strcture

In [21]:
import pandas as pd

In [22]:
df=pd.DataFrame()
df["cust_name"]=cust_list
df["star"]=cust_star
df["review_title"]=review_list
df["cust_comt"]=cust_comts
print(df)

                cust_name star       review_title  \
0         Vaibhav Bharati    4          Very Good
1           MD MATHIN ALI    5           Terrific
2       Sayani  Banerjee     5  Worth every penny
3          Satyajit Swain    3               Fair
4  Vijay Singh  Shekhawat    3               Fair
5            Anoop Mathew    5          Just wow!
6            Vivek Raturi    3               Good
7        Anand Amirtharaj    4          Wonderful
8       Flipkart Customer    4          Very Good
9         Shivani  Pankaj    4       Nice product

                                           cust_comt
0  Read carefully.. My Experience was complicated...
1  #Price up to markIts wonderful product for tho...
2  Nice laptop and Ryzen 3 is a good processor fo...
3  This laptop needs to be upgraded to at least 8...
4  HP Product is Good/Ok, but personally i will p...
5  Awesome and nice for students and all. The fav...
6  Do not expect much :1)Very slow takes a lot of...
7  Compare to i3, ryzen 3 is far better in perfor...
8  Very nice product finishing is very good.READ ...
9  This laptop is very light weight and I am happ...

In [23]:
df.to_csv("Hp filpkart scrapping",index=False)

In [24]:
url="https://www.worldometers.info/coronavirus/"
page=requests.get(url)
print(page)

<Response [200]>

In [25]:

soup=bs(page.content)
# soup.prettify()
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates." name="description"/>
  <!-- Favicon -->
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- og image -->
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <!-- Bootstrap -->
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <!-- font awesome -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
   <script src="/js/jquery.min.js">
   </script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="/js/bootstrap.min.js">
   </script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
    <!-- FREESTAR -->
    <script data-cfasync="false" type="text/javascript">
     var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
    </script>
   </link>
  </meta>
 </head>
 <body>
  <!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <!--
<script type="text/javascript" async=true>
(function() {
  var host = 'worldometers.info';
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'Pd9JxUkvV0m7q', '/', host, '/choice.js');
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          typeof args[3] === 'boolean'
        ) {
          gdprApplies = args[3];
          if (typeof args[2] === 'function') {
            args[2]('set', true);
          }
        }
      } else if (args[0] === 'ping') {
        var retr = {
          gdprApplies: gdprApplies,
          cmpLoaded: false,
          cmpStatus: 'stub'
        };

        if (typeof args[2] === 'function') {
          args[2](retr);
        }
      } else {
        queue.push(args);
      }
    }

    function postMessageEventHandler(event) {
      var msgIsString = typeof event.data === 'string';
      var json = {};

      try {
        if (msgIsString) {
          json = JSON.parse(event.data);
        } else {
          json = event.data;
        }
      } catch (ignore) {}

      var payload = json.__tcfapiCall;

      if (payload) {
        window.__tcfapi(
          payload.command,
          payload.version,
          function(retValue, success) {
            var returnMsg = {
              __tcfapiReturn: {
                returnValue: retValue,
                success: success,
                callId: payload.callId
              }
            };
            if (msgIsString) {
              returnMsg = JSON.stringify(returnMsg);
            }
            event.source.postMessage(returnMsg, '*');
          },
          payload.parameter
        );
      }
    }

    while (win) {
      try {
        if (win.frames[TCF_LOCATOR_NAME]) {
          cmpFrame = win;
          break;
        }
      } catch (ignore) {}

      if (win === window.top) {
        break;
      }
      win = win.parent;
    }
    if (!cmpFrame) {
      addFrame();
      win.__tcfapi = tcfAPIHandler;
      win.addEventListener('message', postMessageEventHandler, false);
    }
  };

  makeStub();

  var uspStubFunction = function() {
    var arg = arguments;
    if (typeof window.__uspapi !== uspStubFunction) {
      setTimeout(function() {
        if (typeof window.__uspapi !== 'undefined') {
          window.__uspapi.apply(window.__uspapi, arg);
        }
      }, 500);
    }
  };

  var checkIfUspIsReady = function() {
    uspTries++;
    if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
      console.warn('USP is not accessible');
    } else {
      clearInterval(uspInterval);
    }
  };

  if (typeof window.__uspapi === 'undefined') {
    window.__uspapi = uspStubFunction;
    var uspInterval = setInterval(checkIfUspIsReady, 6000);
  }
})();
</script>
-->
  <!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- GA wm old (info) -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <!-- GDPR consent -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
   </script>
   <script>
    window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
   </script>
   <style type="text/css">
    .style1 {
        color: #666666
    }
   </style>
   <div class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <div class="logo">
       <a class="navbar-brand" href="/">
        <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
       </a>
      </div>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
       <li>
        <a href="/coronavirus/">
         Coronavirus
        </a>
       </li>
       <li>
        <a href="/population/">
         Population
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- MAIN -->
   <div class="container">
    <!-- TOP AD -->
    <div class="row">
     <div style="text-align:left; margin-bottom:10px">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
      <!-- wm_top970 -->
      <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
      </ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>
    </div>
    <!-- TOP AD -->
    <!-- MAIN  -->
    <!-- CENTER -->
    <div class="row">
     <div class="col-md-8">
      <!-- *** CONTENT A *** -->
      <div class="content-inner">
       <style>
        .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
       </style>
       <!-- charts -->
       <script src="/js/highcharts.js">
       </script>
       <style type="text/css">
        .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
       </style>
       <div class="label-counter" id="page-top">
        COVID-19 Coronavirus Pandemic
       </div>
       <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
        Last updated: April 26, 2023, 13:56 GMT
       </div>
       <div style="margin-top:20px; text-align:center; font-size:14px">
        <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
         Weekly Trends
        </a>
        -
        <a href="/coronavirus/worldwide-graphs/">
         Graphs
        </a>
        -
        <a href="#countries">
         Countries
        </a>
        -
        <a href="#news">
         News
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Coronavirus Cases:
        </h1>
        <div class="maincounter-number">
         <span style="color:#aaa">
          686,676,972
         </span>
        </div>
       </div>
       <div style="text-align:center ">
        <a href="#countries">
         view by country
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Deaths:
        </h1>
        <div class="maincounter-number">
         <span>
          6,860,939
         </span>
        </div>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px;">
        <h1>
         Recovered:
        </h1>
        <div class="maincounter-number" style="color:#8ACA2B ">
         <span>
          659,247,328
         </span>
        </div>
       </div>
       <div style="margin-top:50px;">
       </div>
       <!-- START -->
       <style>
        .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
       </style>
       <script>
        var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
       </script>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Active Cases
          </span>
          <span class="collapse_button">

In [26]:
table=soup.find("table",id="main_table_countries_today")

In [27]:
table1=table.find("tbody")

In [28]:
rows=table.find_all("tr",style="")
print(rows)

[<tr>
<th width="1%">#</th>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">New<br>Recovered</br></th>
<th width="30">Active<br>Cases</br></th>
<th width="30">Serious,<br>Critical</br></th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>, <tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>686,676,972</td>
<td>+45,916</td>
<td>6,860,939</td>
<td>+163</td>
<td>659,247,328</td>
<td>+61,898</td>
<td>20,568,705</td>
<td>39,408</td>
<td>88,094</td>
<td>880.2</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">106,585,478</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,159,417                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">104,493,815</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">932,246</td>
<td style="font-weight: bold; text-align:right">1,397</td>
<td style="font-weight: bold; text-align:right">318,351</td>
<td style="font-weight: bold; text-align:right">3,463</td>
<td style="font-weight: bold; text-align:right">1,176,512,488</td>
<td style="font-weight: bold; text-align:right">3,514,020</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>289</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,784</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">44,905,827</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">531,369                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">44,311,078</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">63,380</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">31,924</td>
<td style="font-weight: bold; text-align:right">378</td>
<td style="font-weight: bold; text-align:right">925,077,322</td>
<td style="font-weight: bold; text-align:right">657,654</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,647</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">45</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">39,960,327</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">166,425                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,651,232</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">142,670</td>
<td style="font-weight: bold; text-align:right">869</td>
<td style="font-weight: bold; text-align:right">609,295</td>
<td style="font-weight: bold; text-align:right">2,538</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>394</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,175</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,398,881</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">172,761                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,186,700</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+3,400</td>
<td style="text-align:right;font-weight:bold;">39,420</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">457,764</td>
<td style="font-weight: bold; text-align:right">2,060</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>486</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">470</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">37,407,232</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">701,215                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">456,856</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">173,701</td>
<td style="font-weight: bold; text-align:right">3,256</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>307</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,121</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,677,778</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+13,233</td>
<td style="font-weight: bold; text-align:right;">74,443                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+36</td>
<td style="font-weight: bold; text-align:right">21,725,273</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">11,878,062</td>
<td style="font-weight: bold; text-align:right">58</td>
<td style="font-weight: bold; text-align:right">268,168</td>
<td style="font-weight: bold; text-align:right">593</td>
<td style="font-weight: bold; text-align:right">99,806,707</td>
<td style="font-weight: bold; text-align:right">794,735</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,687</td><td>1</td>
<td style="font-weight: bold; text-align:right">105</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right">94,582</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">31,114,786</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+16,383</td>
<td style="font-weight: bold; text-align:right;">34,449                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+15</td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">30,870,068</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+9,936</td>
<td style="text-align:right;font-weight:bold;">210,269</td>
<td style="font-weight: bold; text-align:right">153</td>
<td style="font-weight: bold; text-align:right">606,173</td>
<td style="font-weight: bold; text-align:right">671</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>1,490</td><td>3</td>
<td style="font-weight: bold; text-align:right">319</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right">4,096</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">25,765,219</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">189,582                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25,439,463</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">136,174</td>
<td style="font-weight: bold; text-align:right">104</td>
<td style="font-weight: bold; text-align:right">427,548</td>
<td style="font-weight: bold; text-align:right">3,146</td>
<td style="font-weight: bold; text-align:right">271,116,017</td>
<td style="font-weight: bold; text-align:right">4,498,897</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>318</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,260</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,555,629</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">221,943                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,302,013</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+3,849</td>
<td style="text-align:right;font-weight:bold;">31,673</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">358,487</td>
<td style="font-weight: bold; text-align:right">3,240</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>309</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">462</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">22,826,827</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,012</td>
<td style="font-weight: bold; text-align:right;">398,175                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+33</td>
<td style="font-weight: bold; text-align:right">22,221,995</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+7,582</td>
<td style="text-align:right;font-weight:bold;">206,657</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">156,556</td>
<td style="font-weight: bold; text-align:right">2,731</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>366</td><td>1</td>
<td style="font-weight: bold; text-align:right">41</td>
<td style="font-weight: bold; text-align:right">0.2</td>
<td style="font-weight: bold; text-align:right">1,417</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">17,232,066</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">102,174                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">201,399</td>
<td style="font-weight: bold; text-align:right">1,194</td>
<td style="font-weight: bold; text-align:right">162,743,369</td>
<td style="font-weight: bold; text-align:right">1,902,052</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,561,976</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>5</td><td>837</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,024</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">13,825,052</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">120,715                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">13,665,628</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">38,709</td>
<td style="font-weight: bold; text-align:right">231</td>
<td style="font-weight: bold; text-align:right">295,918</td>
<td style="font-weight: bold; text-align:right">2,584</td>
<td style="font-weight: bold; text-align:right">471,036,328</td>
<td style="font-weight: bold; text-align:right">10,082,298</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,719,142</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>387</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">829</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/viet-nam/">Vietnam</a></td>
<td style="font-weight: bold; text-align:right">11,551,917</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,731</td>
<td style="font-weight: bold; text-align:right;">43,188                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">10,618,751</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+613</td>
<td style="text-align:right;font-weight:bold;">889,978</td>
<td style="font-weight: bold; text-align:right">123</td>
<td style="font-weight: bold; text-align:right">116,741</td>
<td style="font-weight: bold; text-align:right">436</td>

In [29]:
covid_info=[]
for i in rows:
    col=i.find_all("td")
    country_info=[c.text for c in col]
    covid_info.append(country_info)
print(covid_info)

[[], ['', 'World', '686,676,972', '+45,916', '6,860,939', '+163', '659,247,328', '+61,898', '20,568,705', '39,408', '88,094', '880.2', '', '', '', 'All', '\n', '', '', '', '', ''], ['1', 'USA', '106,585,478', '', '1,159,417                                ', '', '104,493,815', '', '932,246', '1,397', '318,351', '3,463', '1,176,512,488', '3,514,020', '334,805,269 ', 'North America', '3', '289', '0', '', '', '2,784'], ['2', 'India', '44,905,827', '', '531,369                                ', '', '44,311,078', '', '63,380', 'N/A', '31,924', '378', '925,077,322', '657,654', '1,406,631,776 ', 'Asia', '31', '2,647', '2', '', '', '45'], ['3', 'France', '39,960,327', '', '166,425                                ', '', '39,651,232', '', '142,670', '869', '609,295', '2,538', '271,490,188', '4,139,547', '65,584,518 ', 'Europe', '2', '394', '0', '', '', '2,175'], ['4', 'Germany', '38,398,881', '', '172,761                                ', '', '38,186,700', '+3,400', '39,420', 'N/A', '457,764', '2,060', '122,332,384', '1,458,359', '83,883,596 ', 'Europe', '2', '486', '1', '', '', '470'], ['5', 'Brazil', '37,407,232', '', '701,215                                ', '', '36,249,161', '', '456,856', 'N/A', '173,701', '3,256', '63,776,166', '296,146', '215,353,593 ', 'South America', '6', '307', '3', '', '', '2,121'], ['6', 'Japan', '33,677,778', '+13,233', '74,443                                ', '+36', '21,725,273', '', '11,878,062', '58', '268,168', '593', '99,806,707', '794,735', '125,584,838 ', 'Asia', '4', '1,687', '1', '105', '0.3', '94,582'], ['7', 'S. Korea', '31,114,786', '+16,383', '34,449                                ', '+15', '30,870,068', '+9,936', '210,269', '153', '606,173', '671', '15,804,065', '307,892', '51,329,899 ', 'Asia', '2', '1,490', '3', '319', '0.3', '4,096'], ['8', 'Italy', '25,765,219', '', '189,582                                ', '', '25,439,463', '', '136,174', '104', '427,548', '3,146', '271,116,017', '4,498,897', '60,262,770 ', 'Europe', '2', '318', '0', '', '', '2,260'], ['9', 'UK', '24,555,629', '', '221,943                                ', '', '24,302,013', '+3,849', '31,673', 'N/A', '358,487', '3,240', '522,526,476', '7,628,357', '68,497,907 ', 'Europe', '3', '309', '0', '', '', '462'], ['10', 'Russia', '22,826,827', '+6,012', '398,175                                ', '+33', '22,221,995', '+7,582', '206,657', 'N/A', '156,556', '2,731', '273,400,000', '1,875,095', '145,805,947 ', 'Europe', '6', '366', '1', '41', '0.2', '1,417'], ['11', 'Turkey', '17,232,066', '', '102,174                                ', '', 'N/A', 'N/A', 'N/A', '', '201,399', '1,194', '162,743,369', '1,902,052', '85,561,976 ', 'Asia', '5', '837', '1', '', '', '4,024'], ['12', 'Spain', '13,825,052', '', '120,715                                ', '', '13,665,628', '', '38,709', '231', '295,918', '2,584', '471,036,328', '10,082,298', '46,719,142 ', 'Europe', '3', '387', '0', '', '', '829'], ['13', 'Vietnam', '11,551,917', '+2,731', '43,188                                ', '', '10,618,751', '+613', '889,978', '123', '116,741', '436', '85,826,548', '867,342', '98,953,541 ', 'Asia', '9', '2,291', '1', '28', '', '8,994'], ['14', 'Australia', '11,411,267', '', '20,154                                ', '', '11,342,700', '', '48,413', '61', '437,737', '773', '78,835,048', '3,024,116', '26,068,792 ', 'Australia/Oceania', '2', '1,293', '0', '', '', '1,857'], ['17', 'Netherlands', '8,610,372', '', '22,992                                ', '', '8,585,131', '', '2,249', '53', '500,270', '1,336', '25,984,435', '1,509,718', '17,211,447 ', 'Europe', '2', '749', '1', '', '', '131'], ['18', 'Iran', '7,603,697', '', '145,837                                ', '', '7,342,490', '', '115,370', '407', '88,392', '1,695', '55,353,767', '643,478', '86,022,837 ', 'Asia', '11', '590', '2', '', '', '1,341'], ['19', 'Mexico', '7,579,201', '+2,272', '333,802                                ', '+34', '6,825,496', '+1,778', '419,903', 'N/A', '57,609', '2,537', '19,903,879', '151,288', '131,562,772 ', 'North America', '17', '394', '7', '17', '0.3', '3,192'], ['20', 'Indonesia', '6,767,126', '+1,399', '161,204                                ', '+14', '6,594,830', '+1,191', '11,092', 'N/A', '24,243', '578', '114,158,919', '408,975', '279,134,505 ', 'Asia', '41', '1,732', '2', '5', '0.05', '40'], ['21', 'Poland', '6,512,922', '+351', '119,540                                ', '+9', '5,335,940', '', '1,057,442', '696', '172,574', '3,167', '38,651,088', '1,024,147', '37,739,785 ', 'Europe', '6', '316', '1', '9', '0.2', '28,019'], ['22', 'Colombia', '6,364,014', '', '142,706                                ', '', '6,186,783', '', '34,525', '342', '123,542', '2,770', '36,951,507', '717,327', '51,512,762 ', 'South America', '8', '361', '1', '', '', '670'], ['23', 'Austria', '6,062,672', '+1,179', '22,349                                ', '', '6,028,617', '+788', '11,706', '55', '668,674', '2,465', '211,273,524', '23,302,116', '9,066,710 ', 'Europe', '1', '406', '0', '130', '', '1,291'], ['24', 'Greece', '5,993,868', '', '36,673                                ', '', '5,942,118', '+3,016', '15,077', '115', '580,990', '3,555', '102,228,365', '9,909,078', '10,316,637 ', 'Europe', '2', '281', '0', '', '', '1,461'], ['25', 'Portugal', '5,577,825', '', '26,480                                ', '', '5,548,550', '', '2,795', '61', '550,050', '2,611', '46,082,209', '4,544,341', '10,140,570 ', 'Europe', '2', '383', '0', '', '', '276'], ['26', 'Ukraine', '5,502,019', '', '111,912                                ', '', '5,373,024', '+18,982', '17,083', '', '127,385', '2,591', '32,603,805', '754,855', '43,192,122 ', 'Europe', '8', '386', '1', '', '', '396'], ['27', 'Chile', '5,282,473', '', '64,497                                ', '', '5,217,201', '', '775', '57', '274,411', '3,350', '49,334,835', '2,562,823', '19,250,195 ', 'South America', '4', '298', '0', '', '', '40'], ['28', 'Malaysia', '5,066,877', '', '37,011                                ', '', '5,015,705', '', '14,161', '14', '152,704', '1,115', '68,344,917', '2,059,756', '33,181,072 ', 'Asia', '7', '897', '0', '', '', '427'], ['29', 'Israel', '4,820,963', '', '12,477                                ', '', '4,798,473', '', '10,013', '21', '516,938', '1,338', '41,373,364', '4,436,346', '9,326,000 ', 'Asia', '2', '747', '0', '', '', '1,074'], ['30', 'Belgium', '4,790,564', '', '34,188                                ', '', '4,737,445', '+1,301', '18,931', '43', '410,563', '2,930', '36,997,339', '3,170,763', '11,668,278 ', 'Europe', '2', '341', '0', '', '', '1,622'], ['32', 'Thailand', '4,730,490', '', '33,947                                ', '', '4,692,636', '', '3,907', 'N/A', '67,503', '484', '17,270,775', '246,450', '70,078,203 ', 'Asia', '15', '2,064', '4', '', '', '56'], ['33', 'Canada', '4,641,301', '', '52,247                                ', '', '4,574,715', '+1,219', '14,339', '99', '120,904', '1,361', '66,343,123', '1,728,207', '38,388,419 ', 'North America', '8', '735', '1', '', '', '374'], ['34', 'Czechia', '4,639,879', '+180', '42,759                                ', '+2', '4,593,838', '+36', '3,282', '12', '432,148', '3,982', '57,171,484', '5,324,824', '10,736,784 ', 'Europe', '2', '251', '0', '17', '0.2', '306'], ['35', 'Peru', '4,500,578', '', '220,104                                ', '', '4,276,504', '', '3,970', '27', '133,611', '6,534', '38,521,551', '1,143,609', '33,684,208 ', 'South America', '7', '153', '1', '', '', '118'], ['36', 'Switzerland', '4,401,379', '', '14,452                                ', '', '4,381,603', '', '5,324', '39', '501,660', '1,647', '23,833,472', '2,716,487', '8,773,637 ', 'Europe', '2', '607', '0', '', '', '607'], ['37', 'Philippines', '4,090,215', '+506', '66,444                                ', '', '4,019,325', '+315', '4,446', '162', '36,355', '591', '34,989,689', '310,995', '112,508,994 ', 'Asia', '28', '1,693', '3', '4', '', '40'], ['38', 'South Africa', '4,076,463', '', '102,595                                ', '', '3,912,506', '', '61,362', '192', '67,095', '1,689', '26,795,090', '441,027', '60,756,135 ', 'Africa', '15', '592', '2', '', '', '1,010'], ['39', 'Romania', '3,387,788', '', '68,047                                ', '', '3,312,844', '+6,066', '6,897', '120', '178,011', '3,576', '27,242,332', '1,431,446', '19,031,335 ', 'Europe', '6', '280', '1', '', '', '362'], ['40', 'Denmark', '3,180,326', '+68', '8,530                                ', '+4', '3,170,739', '+32', '1,057', '19', '545,048', '1,462', '129,263,317', '22,153,286', '5,834,950 ', 'Europe', '2', '684', '0', '12', '0.7', '181'], ['41', 'Hong Kong', '2,889,282', '+371', '13,519                                ', '+3', '2,870,816', '+31', '4,947', '28', '379,954', '1,778', '76,127,725', '10,011,143', '7,604,299 ', 'Asia', '3', '562', '0', '49', '0.4', '651'], ['42', 'Sweden', '2,704,966', '', '23,988                                ', '', '2,677,713', '+59', '3,265', '8', '264,700', '2,347', '19,500,873', '1,908,301', '10,218,971 ', 'Europe', '4', '426', '1', '', '', '320'], ['43', 'Serbia', '2,532,749', '', '18,017                                ', '', '2,505,024', '', '9,708', '12', '292,701', '2,082', '12,764,951', '1,475,203', '8,653,016 ', 'Europe', '3', '480', '1', '', '', '1,122'], ['44', 'Iraq', '2,465,545', '', '25,375                                ', '', '2,439,497', '', '673', '21', '58,474', '602', '19,544,451', '463,523', '42,164,965 ', 'Asia', '17', '1,662', '2', '', '', '16'], ['45', 'Singapore', '2,340,779', '', '1,727                                ', '', '2,149,583', '', '189,469', '2', '393,835', '291', '24,756,666', '4,165,302', '5,943,546 ', 'Asia', '3', '3,442', '0', '', '', '31,878'], ['46', 'New Zealand', '2,313,064', '', '4,119                                ', '', '2,297,967', '', '10,978', '', '472,227', '841', '7,768,604', '1,586,011', '4,898,203 ', 'Australia/Oceania', '2', '1,189', '1', '', '', '2,241'], ['47', 'Hungary', '2,201,355', '+616', '48,846                                ', '+8', '2,148,647', '+825', '3,862', '13', '229,158', '5,085', '11,394,556', '1,186,160', '9,606,259 ', 'Europe', '4', '197', '1', '64', '0.8', '402'], ['48', 'Bangladesh', '2,038,129', '', '29,446                                ', '', '1,998,448', '', '10,235', 'N/A', '12,140', '175', '15,254,399', '90,862', '167,885,689 ', 'Asia', '82', '5,701', '11', '', '', '61'], ['49', 'Slovakia', '1,866,312', '', '21,167                                ', '', '1,844,661', '', '484', '22', '341,803', '3,877', '7,425,402', '1,359,916', '5,460,193 ', 'Europe', '3', '258', '1', '', '', '89'], ['50', 'Georgia', '1,838,936', '', '17,049                                ', '', '1,776,548', '', '45,339', '', '463,355', '4,296', '16,920,079', '4,263,340', '3,968,738 ', 'Asia', '2', '233', '0', '', '', '11,424'], ['51', 'Jordan', '1,746,997', '', '14,122                                ', '', '1,731,007', '', '1,868', '59', '169,597', '1,371', '17,201,885', '1,669,945', '10,300,869 ', 'Asia', '6', '729', '1', '', '', '181'], ['52', 'Ireland', '1,709,705', '', '8,824                                ', '', '1,698,272', '+184', '2,609', '19', '340,565', '1,758', '13,083,449', '2,606,161', '5,020,199 ', 'Europe', '3', '569', '0', '', '', '520'], ['53', 'Pakistan', '1,580,603', '+7', '30,656                                ', '', '1,538,689', '', '11,258', '12', '6,887', '134', '30,571,377', '133,215', '229,488,994 ', 'Asia', '145', '7,486', '8', '0.03', '', '49'], ['54', 'Norway', '1,482,916', '', '5,213                                ', '', '1,476,511', '', '1,192', '20', '269,065', '946', '11,002,430', '1,996,315', '5,511,370 ', 'Europe', '4', '1,057', '1', '', '', '216'], ['55', 'Finland', '1,471,205', '', '9,215                                ', '', '1,458,328', '+207', '3,662', '21', '264,845', '1,659', '12,069,254', '2,172,699', '5,554,960 ', 'Europe', '4', '603', '0', '', '', '659'], ['56', 'Kazakhstan', '1,411,315', '', '13,848                                ', '', '1,383,020', '', '14,447', '24', '73,487', '721', '11,575,012', '602,707', '19,205,043 ', 'Asia', '14', '1,387', '2', '', '', '752'], ['57', 'Slovenia', '1,343,127', '+65', '7,100                                ', '', '1,328,006', '', '8,021', '8', '646,345', '3,417', '2,847,701', '1,370,382', '2,078,034 ', 'Europe', '2', '293', '1', '31', '', '3,860'], ['58', 'Lithuania', '1,318,192', '+133', '9,663                                ', '', '1,306,001', '+253', '2,528', '2', '495,243', '3,630', '10,435,079', '3,920,445', '2,661,708 ', 'Europe', '2', '275', '0', '50', '', '950'], ['59', 'Bulgaria', '1,303,813', '', '38,321                                ', '', '1,262,410', '', '3,082', '39', '190,488', '5,599', '11,173,015', '1,632,385', '6,844,597 ', 'Europe', '5', '179', '1', '', '', '450'], ['60', 'Morocco', '1,272,889', '', '16,296                                ', '', '1,256,151', '', '442', '3', '33,699', '431', '13,001,033', '344,191', '37,772,756 ', 'Africa', '30', '2,318', '3', '', '', '12'], ['61', 'Croatia', '1,272,377', '', '18,155                                ', '', '1,253,558', '', '664', '4', '313,448', '4,472', '5,575,343', '1,373,479', '4,059,286 ', 'Europe', '3', '224', '1', '', '', '164'], ['62', 'Guatemala', '1,247,813', '', '20,189                                ', '', '1,226,619', '', '1,005', '5', '67,144', '1,086', '7,197,292', '387,284', '18,584,039 ', 'North America', '15', '921', '3', '', '', '54'], ['63', 'Lebanon', '1,236,353', '', '10,897                                ', '', '1,087,587', '', '137,869', '74', '184,949', '1,630', '4,795,578', '717,380', '6,684,849 ', 'Asia', '5', '613', '1', '', '', '20,624'], ['64', 'Costa Rica', '1,226,315', '', '9,326                                ', '', '860,711', '', '356,278', '52', '236,633', '1,800', '4,659,757', '899,158', '5,182,354 ', 'North America', '4', '556', '1', '', '', '68,748'], ['65', 'Bolivia', '1,196,958', '', '22,376                                ', '', '1,165,967', '', '8,615', '220', '99,808', '1,866', '2,705,422', '225,590', '11,992,656 ', 'South America', '10', '536', '4', '', '', '718'], ['66', 'Tunisia', '1,152,612', '', '29,387                                ', '', 'N/A', 'N/A', 'N/A', '44', '95,679', '2,439', '5,009,562', '415,847', '12,046,656 ', 'Africa', '10', '410', '2', '', '', '1,098'], ['67', 'Cuba', '1,113,137', '', '8,530                                ', '', '1,104,471', '', '136', '2', '98,458', '754', '14,345,279', '1,268,859', '11,305,652 ', 'North America', '10', '1,325', '1', '', '', '12'], ['68', 'UAE', '1,061,854', '', '2,349                                ', '', '1,044,594', '', '14,911', '', '105,324', '233', '200,257,314', '19,863,280', '10,081,785 ', 'Asia', '9', '4,292', '0', '', '', '1,479'], ['69', 'Ecuador', '1,059,993', '', '36,017                                ', '', '1,023,512', '', '464', '759', '58,520', '1,988', '3,082,403', '170,173', '18,113,361 ', 'South America', '17', '503', '6', '', '', '26'], ['70', 'Uruguay', '1,037,893', '', '7,625                                ', '', '1,029,835', '', '433', '18', '296,879', '2,181', '6,114,822', '1,749,083', '3,496,016 ', 'South America', '3', '458', '1', '', '', '124'], ['71', 'Panama', '1,036,100', '', '8,618                                ', '', '1,026,868', '', '614', '16', '232,990', '1,938', '7,636,393', '1,717,215', '4,446,964 ', 'North America', '4', '516', '1', '', '', '138'], ['72', 'Mongolia', '1,007,966', '', '2,179                                ', '', '1,005,736', '', '51', '192', '298,384', '645', '4,030,048', '1,193,000', '3,378,078 ', 'Asia', '3', '1,550', '1', '', '', '15'], ['73', 'Nepal', '1,002,791', '+37', '12,028                                ', '+1', '990,402', '+65', '361', '', '33,177', '398', '6,032,839', '199,594', '30,225,582 ', 'Asia', '30', '2,513', '5', '1', '0.03', '12'], ['74', 'Belarus', '994,037', '', '7,118                                ', '', '985,592', '', '1,327', '', '105,381', '755', '13,646,641', '1,446,722', '9,432,800 ', 'Europe', '9', '1,325', '1', '', '', '141'], ['75', 'Latvia', '977,559', '+26', '6,318                                ', '+1', '970,887', '+37', '354', '13', '528,743', '3,417', '7,873,100', '4,258,407', '1,848,837 ', 'Europe', '2', '293', '0', '14', '0.5', '191'], ['76', 'Saudi Arabia', '839,704', '+213', '9,642                                ', '', '826,586', '+136', '3,476', '67', '23,426', '269', '45,422,140', '1,267,185', '35,844,909 ', 'Asia', '43', '3,718', '1', '6', '', '97'], ['77', 'Azerbaijan', '831,199', '+71', '10,233                                ', '+3', '820,762', '+73', '204', '', '80,697', '993', '7,585,820', '736,473', '10,300,205 ', 'Asia', '12', '1,007', '1', '7', '0.3', '20'], ['78', 'Paraguay', '809,489', '', '19,913                                ', '', 'N/A', 'N/A', 'N/A', '7', '110,800', '2,726', '2,657,506', '363,751', '7,305,843 ', 'South America', '9', '367', '3', '', '', '12,491'], ['79', 'Bahrain', '719,468', '', '1,560                                ', '', '717,663', '', '245', '1', '403,293', '874', '10,825,302', '6,068,052', '1,783,983 ', 'Asia', '2', '1,144', '0', '', '', '137'], ['80', 'Sri Lanka', '672,136', '', '16,838                                ', '', '655,273', '', '25', '', '31,152', '780', '6,486,117', '300,619', '21,575,842 ', 'Asia', '32', '1,281', '3', '', '', '1'], ['81', 'Kuwait', '665,527', '', '2,570                                ', '', '660,237', '', '2,720', '', '151,935', '587', '8,455,743', '1,930,391', '4,380,326 ', 'Asia', '7', '1,704', '1', '', '', '621'], ['82', 'Dominican Republic', '660,961', '', '4,384                                ', '', '644,785', '', '11,792', '4', '59,781', '397', '3,740,928', '338,350', '11,056,370 ', 'North America', '17', '2,522', '3', '', '', '1,067'], ['83', 'Cyprus', '656,904', '', '1,350                                ', '', '654,314', '', '1,240', '60', '536,955', '1,103', '9,640,118', '7,879,860', '1,223,387 ', 'Asia', '2', '906', '0', '', '', '1,014'], ['84', 'Myanmar', '634,471', '', '19,490                                ', '', '614,716', '', '265', '', '11,488', '353', '10,316,486', '186,801', '55,227,143 ', 'Asia', '87', '2,834', '5', '', '', '5'], ['85', 'Palestine', '621,008', '', '5,404                                ', '', '615,445', '', '159', '17', '116,173', '1,011', '3,078,533', '575,907', '5,345,541 ', 'Asia', '9', '989', '2', '', '', '30'], ['86', 'Moldova', '619,973', '', '12,106                                ', '', '504,142', '', '103,725', '49', '154,485', '3,017', '3,216,305', '801,437', '4,013,171 ', 'Europe', '6', '332', '1', '', '', '25,846'], ['87', 'Estonia', '617,917', '', '3,001                                ', '', '524,990', '', '89,926', '3', '467,443', '2,270', '3,703,808', '2,801,861', '1,321,910 ', 'Europe', '2', '440', '0', '', '', '68,027'], ['88', 'Venezuela', '552,575', '', '5,856                                ', '', '546,466', '', '253', '31', '18,880', '200', '3,359,014', '114,771', '29,266,991 ', 'South America', '53', '4,998', '9', '', '', '9'], ['89', 'Egypt', '515,970', '', '24,613                                ', '', '442,182', '', '49,175', '122', '4,860', '232', '3,693,367', '34,792', '106,156,692 ', 'Africa', '206', '4,313', '29', '', '', '463'], ['90', 'Libya', '507,250', '', '6,437                                ', '', '500,807', '', '6', '', '72,045', '914', '2,483,848', '352,782', '7,040,745 ', 'Africa', '14', '1,094', '3', '', '', '0.9'], ['91', 'Qatar', '506,323', '', '690                                ', '', '504,400', '', '1,233', '44', '169,912', '232', '4,065,369', '1,364,257', '2,979,915 ', 'Asia', '6', '4,319', '1', '', '', '414'], ['92', 'Ethiopia', '500,817', '', '7,574                                ', '', '487,936', '', '5,307', '1', '4,145', '63', '5,538,219', '45,841', '120,812,698 ', 'Africa', '241', '15,951', '22', '', '', '44'], ['93', 'Réunion', '486,588', '', '921                                ', '', '418,572', '', '67,095', '10', '535,854', '1,014', 

In [30]:
number=[]
country=[]
total_cases=[]
new_cases=[]
total_death=[]
new_death=[]

In [31]:
covid_info.pop(0)

[]

In [32]:
for i in covid_info:
    number.append(i[0])
    country.append(i[1])
    total_cases.append(i[2])
    new_cases.append(i[3])
    total_death.append(i[4])
    new_death.append(i[5])

In [33]:
data={"Number":number,
      "Country":country,
      "Total_cases":total_cases,
      "New_cases":new_cases,
      "total_death":total_death,
      "new_death":new_death}

In [34]:
info=pd.DataFrame(data)
print(info)

    Number     Country  Total_cases New_cases  \
0                World  686,676,972   +45,916
1        1         USA  106,585,478
2        2       India   44,905,827
3        3      France   39,960,327
4        4     Germany   38,398,881
..     ...         ...          ...       ...
215    224  Montserrat        1,403
216    225        Niue          801
217    230     Tokelau            5
218    231       China      503,302
219             Total:  686,676,972   +45,916

                                   total_death new_death
0                                    6,860,939      +163
1    1,159,417
2      531,369
3      166,425
4      172,761
..                                         ...       ...
215          8
216
217
218      5,272
219                                  6,860,939      +163

[220 rows x 6 columns]