In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\prashant\Downloads\Employees.csv")

In [3]:
df

,Id,Name,Age,Base Pay,OverTime Pay,Benefits,Total Pay benefits,Loan,Department,Duration,Rating,Email,State,Country
0,1,Marcia Stephens,22,120000,60000.0,15000.0,195000.0,No,SDE,7,8.2,['marcia.stephens@reddit.com'],colarado,USA
1,2,Karen Lopez,22,120000,60000.0,15000.0,195000.0,No,SDE-T,6,9.3,['karen.lopez@gmail.com'],taxes,USA
2,3,Heather Reilly,22,60000,30000.0,7500.0,97500.0,No,SDE,5,6.6,['heather.reilly@hotmail.com'],NewBrunswick,Canada
3,4,Cindy Leblanc,32,70000,35000.0,8750.0,113750.0,No,Admin,1,8.0,['cindy.leblanc@hotmail.com'],colarado,USA
4,5,Colin Richardson,22,120000,60000.0,15000.0,195000.0,Yes,SDE,3,5.7,['colin.richardson@yahoo.com'],altai,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Douglas English,32,110000,55000.0,13750.0,178750.0,No,SDE-T,5,9.3,['douglas.english@hotmail.com'],NewBrunswick,Canada
996,997,Michael Berger,27,120000,60000.0,15000.0,195000.0,No,SDE,4,9.3,['michael.berger@outlook.com'],chechnya,Russia
997,998,Theodore Robinson,22,96000,48000.0,12000.0,156000.0,Yes,Hr,3,9.3,['theodore.robinson@reddit.com'],adygea,Russia
998,999,Cindy Knox,48,80000,40000.0,10000.0,130000.0,Yes,SDE,7,6.6,['cindy.knox@hotmail.com'],Ontario,Canada
999,1000,Katherine Keith,30,96000,48000.0,12000.0,156000.0,No,SDE,2,8.2,['katherine.keith@hotmail.com'],NewBrunswick,Canada

In [4]:
df.isna().sum()

Id                    0
Name                  0
Age                   0
Base Pay              0
OverTime Pay          0
Benefits              0
Total Pay benefits    0
Loan                  0
Department            0
Duration              0
Rating                0
Email                 0
State                 0
Country               0
dtype: int64

In [5]:
df['Age'].mean()

31.836

In [6]:
df['Age'].median()

30.0

In [7]:
accounts_df = df[df['Department'] == 'Accounts']

In [8]:
accounts_df['Age'].mean()

31.23076923076923

In [9]:
Hr_df = df[df['Department'] == 'Hr']

In [10]:
Hr_df['Age'].mean()

31.28846153846154

In [11]:
print(df['Age'].min())
print(df['Age'].max())

22
55

In [12]:
SDE_df = df[(df['Department'] == 'SDE') & (df['Country'] == 'USA')]

In [13]:
SDE_df['Age'].mean()

32.14393939393939

In [14]:
Admin_df = df[(df['Department'] == 'Admin') & (df['Country'] == 'Canada')]
Admin_df['Age'].mean()

32.18181818181818

In [15]:
sorted_employees = df.sort_values('Age', ascending=False)
sorted_employees.iloc[0]['Name']

'Karen White'

In [16]:
sorted_employees = df.sort_values('Duration', ascending=False)
sorted_employees.iloc[0]['Name']

'Marcia Stephens'

In [17]:
sal = df[df['Name'] == 'Maria Williams']
sal['Base Pay']

808    96000
Name: Base Pay, dtype: int64

In [18]:
sal=df[(df['Name'] == 'Virginia Hogan') & (df['Age']==30)]
sal['Base Pay']

406    120000
Name: Base Pay, dtype: int64

In [19]:
df['Department'].value_counts()

SDE          497
SDE-T        175
Logistics    158
Accounts      65
Admin         53
Hr            52
Name: Department, dtype: int64

In [20]:
SDE_df=df[df['Department']=='SDE'].value_counts()
counts=SDE_df.value_counts()/1000*100
counts

1    49.7
dtype: float64

In [21]:
df.groupby('Department')['Rating'].mean()

Department
Accounts     7.750769
Admin        8.060377
Hr           8.150000
Logistics    7.955063
SDE          7.894769
SDE-T        7.652571
Name: Rating, dtype: float64

In [22]:
df[df['Department'] == 'SDE'].groupby('Country')['Base Pay'].mean()

Country
Canada            92894.308943
Russia            92588.235294
USA               93393.939394
United Kingdom    95788.617886
Name: Base Pay, dtype: float64

In [23]:
loan_people=df[df['Loan'] =='Yes']
loan_people['Base Pay'].mean()

93478.5100286533

In [24]:
df['Domain'] = df['Email'].str.split('@').str[1]
domain_counts = df['Domain'].value_counts()
domain_counts.head(5)

outlook.com']    213
hotmail.com']    205
yahoo.com']      205
gmail.com']      198
reddit.com']     179
Name: Domain, dtype: int64